<mat-nav-list role="navigation">

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Entidade">Início</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Entidade/perfil">Meu Perfil</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Entidade/gerar-certificado">Certificados</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Entidade/cadastrar-vaga">Cadastrar Vaga</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Entidade/vagas">Vagas cadastradas</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Entidade/gerar-relatorio">Gerar Relatório</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Entidade/avaliar-estudante">Avaliar Estudante</a>
  
</mat-nav-list>
  
