<section>
    <h2>Painel de Controle</h2>
    <div>
      <a routerLink="/Estudante">
        <span>Pagina Inicial</span>
      </a>
      <a routerLink="/Entidade/Perfil">
        <span>Meu Perfil</span>
      </a>
      <a routerLink="/Estudante/Certificado">
        <span>Certificado</span>
      </a>
      <a routerLink="/Estudante/Certificado">
        <span>Cadastrar Vagas</span>
      </a>
      <a routerLink="/Estudante/Certificado">
        <span>Gerar Relatório</span>
      </a>
      <a routerLink="/Estudante/Certificado">
        <span>Avaliar Estudante</span>
      </a>
      <a routerLink="/Estudante/Certificado">
        <span>Gerar Relatório</span>
      </a>
    </div>
</section>
