<section>
    <h2>Painel de Controle</h2>
    <div>
      <a routerLink="/Entidade">
        <span>Pagina Inicial</span>
      </a>
      <a routerLink="/Entidade/Perfil">
        <span>Meu Perfil</span>
      </a>
      <a routerLink="/Entidade/gerar-certificado">
        <span>Certificado</span>
      </a>
      <a routerLink="/Entidade/cadastrar-vaga">
        <span>Cadastrar Vaga</span>
      </a>
      <a routerLink="/Entidade/gerar-relatorio">
        <span>Gerar Relatório</span>
      </a>
      <a routerLink="/Entidade/avaliar-estudante">
        <span>Avaliar Estudante</span>
      </a>
    </div>
</section>
