<div class="content">
    <section class="topo">
      <h1>Cadastrar Instituição de Ensino</h1>
    </section>
  
    <section class="contentDetails">
      <div class="cadastro">
        <form>
          <div class="form-group">
            <label for="nome">Nome da Instituição: <em>*</em> </label>
            <input
              type="text"
              class="form-control col-6"
              id="nomeIes"
              placeholder="Digite o nome do curso"
              formControlName="nomeIes"
            />
          </div>
  
          <div class="form-group">
            <label for="cnpj">CNPJ: <em>*</em> </label>
            <input
              type="text"
              class="form-control col-6"
              id="cnpj"
              placeholder="XX.XXX.XXX/XXXX-XX"
              formControlName="cnpj"
            />
          </div>
  
          <div class="buttonForm">
            <button type="submit" class="btn mb-2 cadastrar">Cadastrar</button>
            <button type="submit" class="btn mb-2 limpar">Limpar</button>
          </div>
        </form>
      </div>
    </section>
  </div>
  
