.logohome {
  margin-top: 0.5em;
}

.navbar {
  background: #1265a2 !important;
  min-height: 60px;
  width: 100%;
  align-self: center;
}

.links {
  a {
    text-decoration: none;
    padding: 0.5em;

    &:hover {
      opacity: 0.4;
    }
    span {
      font-family: Arial, Helvetica, sans-serif;
      color: #ffffff;
      font-size: medium;
    }
  }
}

.buttons {
  button {
    border: 1px;
    border-width: 1px;
    background-color: #008acd;
    margin: 5px;
    color: #ffffff;
  }

  button:hover {
    opacity: 0.5;
  }
}
