<nav class="navbar navbar-expand-lg">
  <div class="container-fluid lg">
    <div id="logo">
      <a class="navbar-brand" href="/home">
        <img [src]="LogoPath" class="logo d-lg-none" />
        <img [src]="HomePath" class="logohome d-none d-lg-block" />
      </a>
    </div>

    <button class="btn btn-primary btn-acessibilidade" style="border-radius: 50%; width: 50px; height: 50px;" (click)="sidebarMobile()">
      >
    </button>

    <button
      class="navbar-toggler ml-auto custom-toggle"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <div class="navbar-nav links me-auto mx-auto">
        <a class="navbar-link" href="#">
          <span>Entidades</span>
        </a>
        <a class="navbar-link" href="#">
          <span>Vagas</span>
        </a>
        <a class="navbar-link" href="#">
          <span>Como funciona</span>
        </a>
        <a class="navbar-link" href="#">
          <span>Sobre nós</span>
        </a>
      </div>

      <div *ngIf="!isLoggedIn" class="buttons entrar">
        <button
          class="btn btn-outline-secondary"
          type="button"
          routerLink="/login"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-person-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            />
          </svg>
          <span> Entrar </span>
        </button>


        <!-- <a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
          <img class="img__user" src="../../../../assets/imagens/NoUser.jpg">
        </a>

        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
          </div>
        </div> -->

      </div>

      <div *ngIf="isLoggedIn">
        <mat-nav-list>
          <mat-list-item>
            <button mat-icon-button id="button__user__loged">
                <mat-icon>account_circle</mat-icon>
                <mat-label>Amanda</mat-label>
            </button>
          </mat-list-item>
          <mat-list-item (click)="logout()">
            <button mat-icon-button >
              <mat-icon>logout</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </div>
</nav>
