<div class="content">
  <div class="topo">
    <h1>Meu Perfil</h1>
  </div>

      <ngb-alert #alert type="warning">
        Verifique os seus dados e modifique-os se necessário!
      </ngb-alert>

  <section>
    <form [formGroup]="formCadastro" #formDir="ngForm" class="formCadastro">

      <div class="row userImg">
        <img id="imgUser" src="../../../../assets/imagens/cadastroImagem.jpg" class="float-center" alt="..." />
      </div>
      <div class="form-group inputFile">  
        <label for="imgPerfil">Imagem de Perfil </label>
        <input type="file" class="form-control-file" id="inputFile" accept="image/png, image/jpeg" formControlName="imgPerfil" />
      </div>

      <div class="form-group">
        <label for="missao">Missão da Entidade</label>
        <textarea class="form-control" id="missao" rows="3" formControlName="missao"></textarea>
        <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
          formCadastro.controls.missao.touched &&
          formCadastro.controls.missao.value?.length == 0
          " [@fadeInOut]>
            O campo Missão é obrigatório!
        </small>
      </div>

      <div class="form-group">
        <label for="perfilVonluntario">Perfil de Voluntários Procurados</label>
        <textarea class="form-control" id="perfilVonluntario" rows="3" formControlName="perfilVonluntario"></textarea>
      </div>

      <div class="form-group">
        <label for="razaoSocial">Razão Social <em>*</em></label>
        <input type="text" class="form-control" id="razaoSocial" placeholder="Razão Social"
          formControlName="razaoSocial" />
      </div>
      <div class="form-group">
        <label for="nomeFantasia">Nome Fantasia <em>*</em>
        </label>
        <input type="text" class="form-control" id="nomeFantasia" placeholder="Nome Fantasia"
          formControlName="nomeFantasia" />
      </div>
      <div class="form-group">
        <label for="login">CNPJ <em>*</em> </label>
        <input type="text" class="form-control" id="login" placeholder="XX.XXX.XXX/XXXX-XX" formControlName="login"
          mask="00.000.000/0000-00" />
      </div>
      <div class="form-group">
        <label for="nomeResponsavelCadastro">Nome do(a) Responsável pelo cadastro <em>*</em>
        </label>
        <input type="text" class="form-control" id="nomeResponsavelCadastro" placeholder="Nome Completo"
          formControlName="nomeResponsavelCadastro" />
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" 
          *ngIf="formCadastro.controls.nomeResponsavelCadastro.touched &&
          formCadastro.controls.nomeResponsavelCadastro.invalid" [@fadeInOut]>
            O campo Nome do(a) Responsável é obrigatório!
          </small>
      </div>
      <div class="form-group">
        <label for="email">E-mail <em>*</em> </label>
        <input type="email" class="form-control" id="email" placeholder="name@email.com" formControlName="email" />
        <small id="emailHelp" class="form-text text-danger ng-star-inserted" 
        *ngIf="formCadastro.controls.email.touched &&
        formCadastro.controls.email.invalid" [@fadeInOut]>
          O campo E-mail é obrigatório!
        </small>
      </div>
      <div class="form-group">
        <label for="telefone">Telefone <em>*</em> </label>
        <input type="text" class="form-control" id="telefone" placeholder="(XX) XXXX-XXXX" formControlName="telefone"
          mask="(00) 00000-0000 || (00) 0000-0000" />
        <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="formCadastro.controls.telefone.touched &&
        formCadastro.controls.telefone.invalid" [@fadeInOut]>
          O campo Telefone é obrigatório!
        </small>
      </div>

      <div formGroupName="endereco">

        <div class="form-group">
          <label for="cep">CEP <em>*</em> </label>
          <input type="text" (keyup)="validaCep()" class="form-control" id="cep" placeholder="XXXXX-XXX"
            formControlName="cep" mask="00000-000" />
          <label class="form-check-label" for="inlineFormCheck">
            <a class="link-cep" href="https://buscacepinter.correios.com.br/app/endereco/index.php" target="_blank">
              Encontre seu CEP
            </a>
          </label>
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.get('endereco.cep').touched && formCadastro.get('endereco.cep').invalid
            " [@fadeInOut]>
            <br />
            O campo CEP é obrigatório!
          </small>
        </div>
        <div class="row duplo">
          <div class="col">
            <label for="estado">Estado/UF <em>*</em> </label>
            <ng-select [items]="estados" id="ngSelect" bindLabel="nome" bindValue="id" placeholder="Selecione"
              formControlName="estado" (ngModelChange)="onAddCidade()" (closeOnSelect)="(true)">
            </ng-select>        
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="" [@fadeInOut]>
              O campo Estado é obrigatório!
            </small>
          </div>
          <div class="col">
            <label for="exampleFormControlInput1">Cidade <em>*</em> </label>
            <ng-select [items]="cidades" id="ngSelect" bindLabel="nome" bindValue="id" placeholder="Selecione"
              formControlName="cidade" (ngModelChange)="onAddBairro()" (closeOnSelect)="(true)">
            </ng-select>
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="" [@fadeInOut]>
              O campo Cidade é obrigatório!
            </small> 
          </div>
        </div>
    
        <div class="form-group">
          <label for="logradouro">Logradouro <em>*</em> </label>
          <input type="text" class="form-control" id="logradouro" placeholder="Rua, Avenida, Travessa, etc."
            formControlName="logradouro" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted"
            *ngIf="formCadastro.get('endereco.logradouro').touched  && formCadastro.get('endereco.logradouro').invalid" [@fadeInOut]>
            O campo Logradouro é obrigatório!
          </small>
        </div>
    
        <div class="row duplo">
          <div class="col">
            <label for="exampleFormControlInput1">Número <em>*</em> </label>
            <input type="text" class="form-control" placeholder="Número" formControlName="numero" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted"
              *ngIf="formCadastro.get('endereco.numero').touched && formCadastro.get('endereco.numero').invalid" [@fadeInOut]>
              O campo Número é obrigatório!
            </small> 
          </div>
          <div class="col">
            <label for="exampleFormControlInput1">Bairro <em>*</em> </label>
            <input type="text" class="form-control" placeholder="Bairro" formControlName="bairro" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted"
              *ngIf="formCadastro.get('endereco.bairro').touched && formCadastro.get('endereco.bairro').invalid" [@fadeInOut]>
              O campo Bairro é obrigatório!
            </small>
          </div>  
        </div>
        <div class="form-group">
          <label for="complemento">Complemento</label>
          <input type="text" class="form-control" id="complemento" placeholder="Complemento ou Ponto de Referência."
            formControlName="complemento" />
        </div>
    
        </div>


      <div class="form-group">
        <label for="inputPassword5">Senha atual </label>
        <input type="password" id="senha" class="form-control" placeholder="Digite a sua senha atual"
          formControlName="senha" />
      </div>
      <div class="form-group">
        <label for="inputPassword5">Nova senha </label>
        <input type="password" id="novaSenha" class="form-control" placeholder="Digite a sua nova senha"
          formControlName="novaSenha" />
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
          formCadastro.controls.confirmarSenha.touched &&
          formCadastro.controls.confirmarSenha.value?.length > 0
        " [@fadeInOut]>
            O campo Confirmar Senha é obrigatório!
          </small>
      </div>
      <div class="form-group">
        <label for="inputPassword5">Confirmar Senha </label>
        <input type="password" id="confirmarSenha" class="form-control" placeholder="Confirme a sua nova senha"
          formControlName="confirmarSenha" />
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
          formCadastro.controls.confirmarSenha.touched && 
          formCadastro.controls.novaSenha.value.length > 0 && 
          formCadastro.controls.confirmarSenha.value.length == 0
        " [@fadeInOut]>
            O campo Confirmar Senha é obrigatório!
          </small>
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
          formCadastro.controls.novaSenha?.value?.length > 0 &&
          formCadastro.controls.confirmarSenha?.value?.length > 0 &&
          formCadastro.controls.novaSenha?.value != formCadastro.controls.confirmarSenha?.value
        " [@fadeInOut]>
            As senhas informadas não são iguais!
          </small>
      </div>

      <div class="buttonForm">
        <button type="submit" class="btn btn-success" (click)="mostrarValores()">
          Atualizar
        </button>
        <button type="reset" class="btn btn-warning">
          Desfazer alterações
        </button>
        <button class="btn btn-danger" (click)="desativarConta()">
          Desativar Conta
        </button>
      </div>
    </form>

  </section>
</div>