<section class="modal-header">
    <h2 class="modal-title">{{notificacao.titulo}}</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </section>
  <section class="modal-body">
    <p>Remetente: {{notificacao.nomeRemetente}}</p>
    <p>Mensagem: {{notificacao.mensagem}}</p>
    
  
  </section>
  <section class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Voltar</button>
  </section>