h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 1rem;
}

.title__data {
  font-weight: 500;
}

.voltar {
  margin-top: 1rem;
}

.buttonsVagasCadastradas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;

  button:first-child {
    margin-right: 0.5rem;
  }
}
