<section class="modal-header">
  <h2 class="modal-title">{{data.titulo}}</h2>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</section>
<section class="modal-body">
  <div class="row col-12">
    <b class="">Remetente</b>
    <p class="">{{ data.idRemetente.nome }} </p>
  </div>
  <div class="row col-12">
    <b class="">Data</b>
    <p class="">{{ data.data | localDate }} </p>
  </div>
  <div class="row col-12">
    <b class="">Mensagem</b>
    <p class="">{{ data.mensagem }} </p>
  </div>

</section>
<section class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Voltar</button>
</section>