<div>
  <h1>Minhas Inscrições</h1>
  <ngb-alert #alert type="primary" *ngIf="!inscricoes">
    Você ainda não possui nenhuma inscrição!
  </ngb-alert>

  <div *ngIf="inscricoes">
    <ngb-alert #alert type="warning">
      Aqui você pode verificar os detalhes das vagas em que se inscreveu.
    </ngb-alert>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-3" scope="col">Vaga</th>
        <th class="col-3" scope="col">Entidade</th>
        <th class="col-1 text-center" scope="col">Situação</th>
        <th class="col-2 text-center" scope="col">Período do trabalho</th>
        <th class="col-1 text-center" scope="col">Horário</th>
        <th class="col-2 text-center" scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inscricao of inscricoes; index as i">
        <td class="col-3">
          {{ inscricao.vagaId.nomeVaga }}
        </td>
        <td class="col-3">{{inscricao.vagaId.entidadeId.nome}}</td>
        <td class="col-1 text-center">{{inscricao.statusInscricao }}</td>
        <td class="col-2 text-center">{{inscricao.vagaId.dataInicioTrabalho | localDate}} -
          {{inscricao.vagaId.dataTerminoTrabalho | localDate}} </td>
        <td class="col-1 text-center">{{inscricao.vagaId.horarioInicio | localHour}} -
          {{inscricao.vagaId.horarioEncerramento | localHour}} </td>
        <td class="col-2 buttonsActions">
          <button class="button-table" title="Visualizar vaga"
            (click)="visualizarInscricao(inscricao.vagaId, inscricao.statusInscricao)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
              viewBox="0 0 16 16">
              <path
                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
            </svg>
          </button>
          <!--Se estiver inscrito aparece a opção para cancelar, se estiver aprovado sem termo aparece o termo para concordar-->
          <button *ngIf="inscricao.statusInscricao == 'INSCRITO'" class="button-table bg-danger"
            title="Cancelar Inscrição" (click)="cancelarInscricao(inscricao)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
              viewBox="0 0 16 16">
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </button>
          <button *ngIf="inscricao.statusInscricao == 'APROVADO' && !inscricao.termoAdesao"
            class="button-table bg-danger" title="Aceitar Termo" (click)="visualizarTermo(inscricao.termoAdesaoId)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
              <path
                d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z" />
            </svg>
          </button>
          <button
            *ngIf="inscricao.statusInscricao == 'APROVADO' && inscricao.termoAdesao || inscricao.statusInscricao == 'ENCERRADO'"
            class="button-table bg-success" title="Visualizar Termo" (click)="visualizarTermo(inscricao.termoAdesaoId)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-file-earmark-check" viewBox="0 0 16 16">
              <path
                d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
              <path
                d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
            </svg>
          </button>
          <button *ngIf="inscricao.statusInscricao == 'APROVADO' && inscricao.termoAdesao"
            class="button-table bg-danger" title="Rescindir Termo" (click)="rescindirTermo(inscricao.termoAdesaoId)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
              <path
                d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
              <path
                d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
            </svg>
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>