<section class="content" *ngIf="estudante">
    <div class="topo">
        <h1>Detalhes Estudante</h1>
    </div>

    <main>
        <div class="col-12" *ngIf="estudante.nomeSocial">
            <label>Nome Social: </label>
            <span>{{ estudante.nomeSocial }}</span>
        </div>
        <div class="col-12">
            <label>Nome completo: </label>
            <span>{{ estudante.nomeCompleto }}</span>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <label>CPF: </label>
                <span>{{ estudante.userid.login | cpf}}</span>
            </div>
            <div class="col-lg-4 col-sm-12">
                <label>Data de Nascimento: </label>
                <span>{{ estudante.dataNascimento | localDate}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <label>RG: </label>
                <span>{{ estudante.rg}}</span>
            </div>
            <div class="col-lg-4 col-sm-12">
                <label>Órgão emissor: </label>
                <span>{{ estudante.rgEmissor }}</span>
            </div>
        </div>
        <div class="col-12">
            <label>E-mail: </label>
            <span>{{ estudante.email }}</span>
        </div>
        <div class="col-12">
            <label>Telefone: </label>
            <span>{{ estudante.telefone | phone }}</span>
        </div>
        <div class="col-12">
            <label>Endereço: </label>
            <span>{{ estudante.endereco.logradouro }}, {{ estudante.endereco.numero }}, {{ estudante.endereco.bairro }}
                -
                {{ estudante.endereco.cep }} - {{ estudante.endereco.cidade }}/{{estudante.endereco.estado }}</span>
        </div>
        <div class="col-12">
            <label>Curso: </label>
            <span>{{ estudante.curso.nomeCurso}}</span>
        </div>
        <div class="col-12">
            <label>Grau: </label>
            <span>{{ estudante.curso.grau}}</span>
        </div>
        <div class="col-12">
            <label>Instituição: </label>
            <span>{{ estudante.curso.instituicao}}</span>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <label>Ano início: </label>
                <span>{{ estudante.curso.anoInicio | localDate }}</span>
            </div>
            <div class="col-lg-4 col-sm-12">
                <label>Ano conclusão: </label>
                <span>{{ estudante.curso.anoConclusao | localDate }}</span>
            </div>
        </div>
        <div class="col-12">
            <label>Comprovante de Matrícula: </label>
            <a href="{{estudante.comprovanteMatricula}}" target="_blank">{{estudante.comprovanteMatricula}}</a>
        </div>
        <div class="col-12">
            <label>Data do cadastro: </label>
            <span>{{ estudante.userid.dataCadastro | localDate}}</span>
        </div>
        <div class="col-12">
            <label>Status: </label>
            <span>{{ estudante.userid.statusPerfil}}</span>
        </div>

        <form [formGroup]="formResolucao">
            <div class="col-4">
                <label for="aprovacao">Aprovação Estudante <em class="text-danger">*</em>
                </label>
                <ng-select [items]="validacoes" id="ngSelect" bindLabel="nome" bindValue="id" placeholder="Selecione"
                    (closeOnSelect)="(true)" formControlName="avaliacao">
                </ng-select>
            </div>
            <div class="col-8 form-group" *ngIf="formResolucao.get('avaliacao').value == 2">
                <label for="exampleFormControlTextarea1">Informe o motivo da reprovação</label>
                <textarea class="form-control" id="mensagemReprovacao" rows="3" formControlName="comentario"></textarea>
            </div>
        </form>
        <div class="buttonsVagasCadastradas">
            <button class="btn btn-success" (click)="aprovar()" [disabled]="
                  (formResolucao.get('avaliacao').value == 2 &&
                    formResolucao.get('comentario').value == null) ||
                  formResolucao.get('avaliacao').value == null
                ">
                Finalizar avaliação
            </button>
            <button class="btn btn-primary" (click)="retornar()">
                Voltar
            </button>
        </div>


    </main>



</section>