<section class="content" *ngIf="vaga">

  <div class="topo">
    <h1>Detalhes - {{vaga.nomeVaga}}</h1>
  </div>

  <ngb-alert #alert type="warning">
    Verifique os detalhes da vaga publicada!
  </ngb-alert>

  <main>

    <div class="col-12 d-flex imagem__vaga">
      <img class="imagem__vaga" src="../../../../../assets/imagens/cadastroImagem.jpg">
    </div>

    <div class="row col-12">
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Descrição</span>
        <p *ngIf="vaga.descricao">{{vaga.descricao}}</p>
        <p class="" *ngIf="!vaga.descricao"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Número de vagas</span>
        <p *ngIf="vaga.numeroVagas">{{vaga.numeroVagas}}</p>
        <p class="" *ngIf="!vaga.numeroVagas"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Status</span>
        <p *ngIf="vaga.status">{{vaga.status}}</p>
        <p class="" *ngIf="!vaga.status"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Auxílio</span>
        <p *ngIf="vaga.auxilio">{{vaga.auxilio}}</p>
        <p class="" *ngIf="!vaga.auxilio">Não possui</p>
      </div>
    </div>

    <div class="row col-12">
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Data início</span>
        <p *ngIf="vaga.dataInicioTrabalho">{{vaga.dataInicioTrabalho}}</p>
        <p class="" *ngIf="!vaga.dataInicioTrabalho"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Data fim</span>
        <p *ngIf="vaga.dataTerminoTrabalho">{{vaga.dataTerminoTrabalho}}</p>
        <p class="" *ngIf="!vaga.dataTerminoTrabalho"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Horário início</span>
        <p *ngIf="vaga.horarioInicio">{{vaga.horarioInicio}}</p>
        <p class="" *ngIf="!vaga.horarioInicio"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Horário fim</span>
        <p *ngIf="vaga.horarioEncerramento">{{vaga.horarioEncerramento}}</p>
        <p class="" *ngIf="!vaga.horarioEncerramento"> - </p>
      </div>
    </div>

    <div class="row col-12">
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Endereço</span>
        <p *ngIf="vaga.endereco">{{vaga.endereco}}</p>
        <p class="" *ngIf="!vaga.endereco"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Cidade</span>
        <p *ngIf="vaga.cidade">{{vaga.cidade}}</p>
        <p class="" *ngIf="!vaga.cidade"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Estado</span>
        <p *ngIf="vaga.estado">{{vaga.estado}}</p>
        <p class="" *ngIf="!vaga.estado"> - </p>
      </div>

    </div>
    <div class="row col-12">
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Abertura da inscrição</span>
        <p *ngIf="vaga.dataAberturaVaga">{{vaga.dataAberturaVaga}}</p>
        <p class="" *ngIf="!vaga.dataAberturaVaga"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Encerramento da inscrição</span>
        <p *ngIf="vaga.dataFinalizacaoVaga">{{vaga.dataFinalizacaoVaga}}</p>
        <p class="" *ngIf="!vaga.dataFinalizacaoVaga"> - </p>
      </div>
    </div>

    <section>
      <h3>
        Requisitos
      </h3>

      <ul *ngFor="let requisito of vaga.requisitos;">
        <li>{{requisito.descricao}}</li>
      </ul>
    </section>

    <div>
      <h3>
        Inscritos
      </h3>

      <ng-template #naoPossuiInscritos>
        Essa vaga ainda não possui inscritos
      </ng-template>

      <table class="table table-striped" *ngIf="vaga.inscritos else naoPossuiInscritos">
        <thead>
          <tr>
            <th class="col-3" scope="col">Nome</th>
            <th class="col-2 col-sm-none text-center" scope="col">Data inscrição</th>
            <th class="col-2 text-center" scope="col">Status</th>
            <th class="col-3 text-center" scope="col">Curso</th>
            <th class="col-2 text-center" scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inscrito of vaga.inscritos;">
            <td class="col-3">
              {{ inscrito.nome }}
            </td>
            <td class="col-2 col-sm-none text-center">{{ inscrito.dataInscricao }}</td>
            <td class="col-2 text-center">
              <span class="ball__aviso"></span>
              {{ inscrito.status }}
            </td>
            <td class="col-3 text-center">{{ inscrito.curso }}h</td>
            <td class="col-2 text-center buttonsActions">
              <button class="button-table" (click)="visualizarCandidato(inscrito)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                  viewBox="0 0 16 16">
                  <path
                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                </svg>
              </button>
              <button class="button-table" (click)="removerCandidato(inscrito)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                  viewBox="0 0 16 16">
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="buttonsVagasCadastradas">
      <button *ngIf="vaga.status == 'Aberta'" class="btn btn-success" (click)="finalizarPorUrgencia()">
        Finalizar
      </button>
      <button *ngIf="vaga.status == 'Aberta' || vaga.status == 'Andamento'" class="btn btn-danger" (click)="cancelarProcessoSeletivo()">
        Cancelar
      </button>
    </div>

    <button class="btn btn-primary" routerLink="/Entidade/vagas">
      Voltar
    </button>

  </main>


</section>