
  <div id="modal" role="dialog" config="{backdrop: 'static'}">
    <div class="modal-header px-4">
        <p class="modal-title">Detalhes Candidato</p>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(null)">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body px-4">
<section class="d-flex">
    <div class="content-img">
        <img src="../../../../../../assets/imagens/NoUser.jpg">
    </div>

    <div class="content-details">
        <span>Status</span>

        <div class="content-details my-3">
            <div class="d-flex flex-column">
                <b>Nome do Voluntário</b>
                <span>
                    <b>Curso:</b>
                    Content
                </span>
                <span>
                    <b>Idade:</b>
                    22 anos
                </span>
                <span>
                    <b>Data da Inscrição:</b>
                    Content
                </span>
                <span>
                    <b>E-mail:</b>
                    Content
                </span>
                <span>
                    <b>Telefone:</b>
                    Content
                </span>
            </div>

            <div class="my-3">
                <span>
                    <b>Área de Interesse:</b>
                    Content
                </span>
            </div>

            <div class="my-3">
                <span>
                    <b>Experiências Anteriores:</b>
                    Content
                </span>
            </div>
        </div>

    </div>
</section>
</div>
<div class="modal-footer">
    <div>
        <button>
            Aprovar
        </button>
        <button>
            Reprovar
        </button>
    </div>
</div>
</div>