<section class="content" *ngIf="vaga">

  <div class="topo">
    <h1>Detalhes da Vaga - {{vaga.nomeVaga}}</h1>
  </div>

  <main>
    <div class="col-12 d-flex imagem__vaga">
      <img src="{{ vaga.img }}" onError="this.src = 'assets/imagens/mulherGrandeCoracao.png'" class="card-img-top"
        alt="..." />
    </div>
    <div class="col-12">
      <label>Nome Fantasia: </label>
      <span>{{ entidade.nomeFantasia }}</span>
    </div>
    <div class="col-12">
      <label>Razão Social: </label>
      <span>{{ entidade.razaoSocial }}</span>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <label>E-mail: </label>
        <span>{{ entidade.email }}</span>
      </div>
      <div class="col-lg-4 col-sm-12">
        <label>Telefone: </label>
        <span>{{ entidade.telefone | phone}}</span>
      </div>

    </div>

    <div class="col-12">
      <label>Endereço: </label>
      <span>{{ vaga.endereco.logradouro }}, {{ vaga.endereco.numero }} - {{ vaga.endereco.bairro }} -
        {{ vaga.endereco.cidade }}/{{ vaga.endereco.estado }}</span>
    </div>
    <div class="col-12">
      <label>Descrição da Vaga: </label>
      <span>{{ vaga.descricao }}</span>
    </div>

    <div class="col-12">
      <label>Número de vagas: </label>
      <span>{{ vaga.numeroVagas}}</span>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <label>Data de início do trabalho: </label>
        <span>{{ vaga.dataInicioTrabalho}}</span>
      </div>
      <div class="col-lg-4 col-sm-12">
        <label>Data de término do trabalho: </label>
        <span>{{ vaga.dataEncerramentoTrabalho}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <label>Horário de início do trabalho: </label>
        <span>{{ vaga.horarioInicioTrabalho}}</span>
      </div>
      <div class="col-lg-4 col-sm-12">
        <label>Horário de término do trabalho: </label>
        <span>{{ vaga.horarioEncerramentoTrabalho}}</span>
      </div>
    </div>

    <form [formGroup]="formResolucao">
      <div class="col-4">
        <label for="aprovacao">Aprovação da vaga <em class="text-danger">*</em></label>
        <ng-select [items]="validacoes" id="ngSelect" bindLabel="nome" bindValue="id" placeholder="Selecione"
          (closeOnSelect)="(true)" formControlName="avaliacao">
        </ng-select>
      </div>
      <div class="col-8 form-group" *ngIf="formResolucao.get('avaliacao').value == 2">
        <label for="mensagemReprovacao">Informe o motivo da reprovação</label>
        <textarea class="form-control" id="mensagemReprovacao" rows="3" formControlName="comentario"></textarea>
      </div>
    </form>
    <div class="buttonsVagasCadastradas">
      <button class="btn btn-success" (click)="aprovar()" [disabled]="
      (formResolucao.get('avaliacao').value == 2 &&
        formResolucao.get('comentario').value == null) ||
      formResolucao.get('avaliacao').value == null
    ">
        Finalizar avaliação
      </button>
      <button class="btn btn-primary" (click)="retornar()">
        Voltar
      </button>
    </div>
  </main>



</section>