<section class="modal-header">
    <h2 class="modal-title">Detalhes do(a) Candidato(a)</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</section>
<section class="modal-body">

    <div *ngIf="inscrito.nomeSocial" class="row col-12">
        <span class="title__data">Nome Social</span>
        <p>{{inscrito.nomeSocial}}</p>
    </div>
    <div class="row col-12">
        <span class="title__data">Nome Completo</span>
        <p>{{inscrito.nomeCompleto}}</p>
    </div>

    <div class="row col-12">
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span class="title__data">Data de nascimento</span>
            <p>{{inscrito.dataNascimento | localDate}}</p>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span class="title__data">Gênero</span>
            <p>{{inscrito.identificacaoGenero}}</p>
        </div>
    </div>
    <div class="row col-12">
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span class="title__data">Telefone</span>
            <p>{{inscrito.telefone}}</p>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span class="title__data">E-mail</span>
            <p>{{inscrito.email}}</p>
        </div>
    </div>
    <div class="row col-12">
        <span class="title__data">Endereço</span>
        <p>{{inscrito.endereco.logradouro}}, {{inscrito.endereco.numero}} - {{inscrito.endereco.bairro}} -
            {{inscrito.endereco.cep}} - {{inscrito.endereco.cidade}}/{{inscrito.endereco.estado}}</p>
    </div>

    <div class="row col-12">
        <span class="title__data">Curso</span>
        <p>{{ inscrito.curso.nomeCurso}}</p>
    </div>
    <div class="row col-12">
        <span class="title__data">Grau</span>
        <p>{{ inscrito.curso.grau}}</p>
    </div>
    <div class="row col-12">
        <span class="title__data">Instituição</span>
        <p>{{ inscrito.curso.instituicao}}</p>
    </div>
    <div class="row col-12">
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span class="title__data">Ano início</span>
            <p>{{ inscrito.curso.anoInicio | localDate }}</p>
        </div>

        <div class="col-xl-6 col-md-12 col-sm-12">
            <span class="title__data">Ano conclusão</span>
            <p>{{ inscrito.curso.anoConclusao | localDate }}</p>
        </div>
    </div>
    <div class="row col-12">
        <span class="title__data">Status</span>
        <p>{{ statusInscricao}}</p>
    </div>

    <div class="col-12">
        <br>
        <h2>Experiências Anteriores</h2>
        <ng-template #naoPossuiExperiencia>
            Não declarou experiências anteriores.
        </ng-template>
        <section *ngIf="inscrito.experiencias != null; else naoPossuiExperiencia">
            <span>{{ inscrito.experiencias}}</span>
        </section>
    </div>

    <div class="col-12">
        <br>
        <h2>Áreas de Interesse</h2>
        <ng-template #naoPossuiInteresses>
            Não declarou interesses.
        </ng-template>
        <section *ngIf="inscrito.areasInteresse != null; else naoPossuiInteresses">
            <span>{{ inscrito.areasInteresse}}</span>
        </section>
    </div>

    <!--Mudar botões que aparecem de acordo com o status da inscrição-->
    <div *ngIf="statusInscricao == 'INSCRITO' " class="btn__group">
        <br>
        <button class="btn btn-success" (click)="aprovarCandidato()">
            Aprovar
        </button>
        <button class="btn btn-danger" (click)="reprovarCandidato()">
            Reprovar
        </button>
    </div>

</section>
<section class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Voltar</button>
</section>