<section>
    <h2>Painel de Controle</h2>
    <div>
      <a routerLink="/Administrador/meu-perfil">
        <span>Meu Perfil</span>
      </a>
      <a routerLink="/Administrador/validar-vagas">
        <span>Validar Vagas</span>
      </a>
      <a routerLink="/Administrador/validar-estudantes">
        <span>Validar Estudantes</span>
      </a>
      <a routerLink="/Administrador/validar-entidades">
        <span>Validar Entidades</span>
      </a>
      <a routerLink="/Administrador/cadastrar-instituicao">
        <span>Cadastrar Instituição</span>
      </a>
      <a routerLink="/Administrador/cadastrar-curso">
        <span>Cadastrar Curso</span>
      </a>
    </div>
</section>
