<section class="content">
  <form class="col-6 busca">
    <div class="form-row">
      <div class="col">
        <label>
          <h1>Buscar Vagas</h1>
        </label>
        <div class="d-flex" *ngIf="vagasCadastradas">
          <input type="text" class="form-control" placeholder="Informe o nome da vaga ou o nome da Entidade">
          <button class="btn btn-primary btn-pesquisa">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </form>

  <main>
    <ngb-alert class="alerta" #alert type="primary" *ngIf="!vagasCadastradas">
      Não temos vagas abertas no momento, fique de olho em breve surgirão novas oportunidades!
    </ngb-alert>


    <section class="vagasCadastradas" *ngIf="vagasCadastradas">
      <div>
        <ngb-alert #alert type="warning">
          Filtre sua busca no campo acima, informando o nome da vaga ou o nome da Entidade que deseja!
        </ngb-alert>
      </div>
      <!--Buscar apenas as vagas que estão com o status aberto -->

      <section class="row ultimasInscricoes" *ngIf="vagasCadastradas">

        <div class="content__card">

          <div class="card col-12" *ngFor="let vaga of vagasCadastradas; let i = index">
            <!-- Alterar as cores do botão dependendo do status -->
            <div class="imgCard col-3">
              <img src="{{ vaga.img }}" onError="this.src = 'assets/imagens/mulherGrandeCoracao.png'"
                class="card-img-top" alt="..." />
            </div>
            <section class="card__content col-9">
              <div class="card-body">
                <div class="card-title d-flex">
                  <h1>{{ vaga.nomeEntidade }} </h1>
                  <span [ngClass]=" getStatus(vaga.status)" class="statusPosition" *ngIf="!vaga.inscrito">
                    {{ vaga.status }}
                  </span>
                  <span [ngClass]=" getStatus('inscrito')" class="statusPosition" *ngIf="vaga.inscrito">
                    Inscrito
                  </span>
                </div>
                <div class="card-content-description">
                  <p class="card-title">
                    <b>Nome da vaga:</b>
                    {{ vaga.nomeVaga }}
                  </p>
                  <p class="card-text">
                    <b>Descrição:</b> {{ vaga.descricao }}
                  </p>
                  <p class="card-text">
                    <b>Requisitos:</b> {{ vaga.requisitos }}
                  </p>
                  <p class="card-text">
                    <b>Número de Vagas:</b> {{ vaga.numeroVagas }}
                  </p>
                </div>
              </div>
              <div class="buttonsVagasCadastradas">
                <button class="btn btn-primary" (click)="exibirDetalhes(vaga)">Detalhes</button>
                <button *ngIf="vaga.status === 'Aberta'" class="btn btn-danger" (click)="cancelarInscricao()">
                  Cancelar
                </button>
              </div>
            </section>
          </div>

        </div>
      </section>
    </section>
    <ngb-pagination class="pagination pull-right" [rotate]="true" [maxSize]="3" [directionLinks]="false"
      [collectionSize]="this.vagasCadastradas.length" [pageSize]="itemsPerPage" [boundaryLinks]="true"
      [(page)]="paginaAtual" (pageChange)="mudancaPagina(paginaAtual)" *ngIf="vagasCadastradas">
    </ngb-pagination>
  </main>

</section>