.topo {
  flex-direction: column;
  align-items: center;
}

.colo-topo {
  font-size: 2rem;
  margin-top: 1rem;
}

h2 {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 1rem;
}

svg {
  width: 60px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.dash {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.cardGrafico {
  padding: 1rem;
  justify-content: center;
  color: white;
  span {
    font-size: medium;
  }
}

.dados {
  margin-left: 1rem;
  text-align: end;
}

.quantidade-chamados {
  font-size: xx-large;
}

.content-main-dashboard {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  span {
    font-size: medium;
  }
}

.card {
  width: 100%;
  display: flex;
  flex-direction: initial;
  margin-right: 10px;
  margin-top: 10px;
}

.maisvagas {
  float: right;
  padding: 1.5em;
  text-decoration: none;
  font-weight: medium;
}

.card__content {
  display: flex;
  flex-direction: column;
}

.buttonsVagasCadastradas {
  padding: 1rem;
  text-align: end;
  button:nth-child(2) {
    margin-right: 0.5rem;
  }
}

.card-content-description:nth-child(2) {
  line-height: 20px;
}

.statusPosition {
  padding: 0.8rem;
  border-radius: 5px;
  font-weight: 600;
}