<mat-nav-list role="navigation">

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Admin">Início</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Admin/Perfil">Meu Perfil</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Admin/Vagas">Vagas</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Admin/Estudantes">Estudantes</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Admin/Entidades">Entidades</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Admin/Cursos">Cursos</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Admin/cadastrar-curso">Cadastrar Curso</a>
        
</mat-nav-list>
