
.btn-adicionar{
    display: flex;
    justify-content: end;
}

.pagination ::ng-deep {
    margin-left: 68%;
    margin-top: 1rem;
    .page-item {
      &.active {
        .page-link {
          background-color: #fff;
          color: #439024;
        }
      }
  
      .page-link {
        background-color: #fff;
        color: #7d7d7d;
        border-color: #ebebec;
        font-size: 14px;
      }
    }
  }
