<section class="content">
  <div class="topo">
    <h1 class="topo-title">Olá, {{ usuarioLogado.nome }}!</h1>
    <div *ngIf="inscricoes">
      <ngb-alert #alert type="warning">
        Os processos seletivos estão em andamento, verifique a sua tela de notificações para se manter atualizado(a).
      </ngb-alert>
    </div>
  </div>

  <section class="col-12">

    <h2>Últimas Inscrições</h2>
    
  <!--Mostrar apenas as vagas em que o estudante está inscrito -->
    <ngb-alert type="primary" *ngIf="inscricoes?.length == 0">
      Você ainda não tem inscrições em vagas!
    </ngb-alert>

    <section class="row ultimasInscricoes" *ngIf="inscricoes">

      <div class="content__card">

        <div class="card col-12" *ngFor="let inscricao of inscricoes; let i = index">
          <!-- Alterar as cores do botão dependendo do status -->
          <div class="imgCard col-3">
            <img [src]="inscricao?.vagaId?.imgVaga?.file" onError="this.src = 'assets/imagens/mulherGrandeCoracao.png'"
            class="card-img-top" alt="..." />
          </div>
          <section class="card__content col-9">
            <div class="card-body">
              <div class="card-title d-flex">
                <h1>{{ inscricao.vagaId.entidadeId.nome }} </h1>
                <span [ngClass]=" getStatusInscricao(inscricao.statusInscricao)" class="statusPosition">
                  {{inscricao.statusInscricao }}
                </span>              
              </div>
              <div class="card-content-description">
                <p class="card-title">
                <b>Nome da vaga:</b> 
                  {{ inscricao.vagaId.nomeVaga }}
                </p>
                <p class="card-text">
                  <b>Descrição:</b> {{ inscricao.vagaId.descricao }}
                </p>
                <p class="card-text">
                  <b>Requisitos:</b> {{ inscricao.vagaId.requisitos }}
                </p>
                <p class="card-text">
                  <b>Número de Vagas:</b> {{ inscricao.vagaId.numeroVagas }} 
                </p>  
              </div>          
            </div>
            <div class="buttonsVagasCadastradas">
              <button class="btn btn-primary" (click)="visualizarInscricao(inscricao.vagaId, inscricao.statusInscricao)">Detalhes</button>
              <button *ngIf="inscricao.statusInscricao == 'INSCRITO'" class="btn btn-danger" (click)="cancelarInscricao(inscricao)">
                Cancelar
              </button>
            </div>
          </section>
        </div>

      </div>
    </section>

  </section>
</section>