section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;

  h2 {
    margin-top: 1rem;
    color: #5a97a1;
    font-weight: bold;
  }

  .conteudo {
    padding: auto;
  }

  .formgroup {
    padding: 0.5em;
  }

  .imgDiv {
    align-self: center;
  }

  .terceiraDiv {
    display: grid;
    padding: 0.5em;

    a:first-child {
      margin-bottom: 0.5rem;
    }

    .buttonSubmit {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;

      button {
        width: 75%;
        background-color: #1265a2;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
