<section class="row">
  <div class="col-lg-6 imgDiv">
    <img
      src="../../../assets/imagens/loginImage.jpg"
      class="card-img-top"  
      alt="..."
    />
  </div>
  <div class="col-lg-4">
    <form [formGroup]="formLogin" (ngSubmit)="login()">
      <h2>Login</h2>
      <div class="form-group">
        <label for="exampleInputEmail1">CPF ou CNPJ</label>
        <input
          type="text"
          class="form-control"
          id="nomeResponsavelCadastro"
          placeholder="CPF ou CNPJ"
          formControlName="cpfoucnpj"
        />
      </div>
      <div class="form-group">
        <label for="inputPassword5">Senha</label>
        <input
          type="password"
          id="senha"
          formControlName="senha"
          class="form-control"
          aria-describedby="passwordHelpBlock"
          placeholder="Digite a sua senha"
        />
      </div>
      <div class="terceiraDiv">
        <a class="" href="#">Esqueceu a senha?</a>
        <a class="" href="#" routerLink="/cadastro">Não tenho cadastro</a>
        <div class="buttonSubmit">
          <button type="submit" class="btn btn-primary mb-2">Entrar</button>
        </div>
      </div>
    </form>
  </div>
</section>
