h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 1rem;
}

.imagem__vaga {
  width: 250px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title__data {
  font-weight: 500;
}

.contentDetails {
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;

  &:hover {
    opacity: 0.9;
  }
}

.buttonsVagasCadastradas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;

  button:first-child {
    margin-right: 0.5rem;
  }
}