.topo {
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
  }
}

h2 {
  text-align: center;
}

.contentDetails {
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonForm {
  display: flex;
  justify-content: center;
  align-items: center;
  .cadastrar {
    margin-right: 1rem;
    background-color: #008000;
  }
  .cancelar {
    background-color: red;
  }
}

.btn {
  margin-top: 2rem;
  width: 25%;
  color: #fff;
  border-radius: 1rem;

  &:first-child {
    background: green;
    margin-right: 1rem;
  }

  &:nth-of-type(2) {
    background: red;
  }

  &:hover {
    opacity: 0.7;
  }
}
