<section class="content">

  <div class="topo">
    <h1>Detalhes da Vaga - {{ vaga.nomeVaga }}</h1>
  </div>

  <ngb-alert #alert type="warning">
    Verifique se você concorda ou se identifica com os detalhes da vaga antes de
    realizar a inscrição.
  </ngb-alert>

  <main>
    <div class="col-12 d-flex imagem__vaga">
      <img class="imagem__vaga" src="../../../../../assets/imagens/cadastroImagem.jpg">
    </div>

    <div class="row col-12">
      <span class="title__data">Entidade</span>
      <p *ngIf="vaga.nomeEntidade">{{vaga.nomeEntidade}}</p>
      <p class="" *ngIf="!vaga.nomeEntidade"> - </p>
    </div>
    <div class="row col-12">
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Descrição</span>
        <p *ngIf="vaga.descricao">{{vaga.descricao}}</p>
        <p class="" *ngIf="!vaga.descricao"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Número de vagas</span>
        <p *ngIf="vaga.numeroVagas">{{vaga.numeroVagas}}</p>
        <p class="" *ngIf="!vaga.numeroVagas"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Status</span>
        <p *ngIf="vaga.status">{{vaga.status}}</p>
        <p class="" *ngIf="!vaga.status"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Auxílio</span>
        <p *ngIf="vaga.auxilio">{{vaga.auxilio}}</p>
        <p class="" *ngIf="!vaga.auxilio">Não possui</p>
      </div>
    </div>

    <div class="row col-12">
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Data início</span>
        <p *ngIf="vaga.dataInicioTrabalho">{{vaga.dataInicioTrabalho}}</p>
        <p class="" *ngIf="!vaga.dataInicioTrabalho"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Data fim</span>
        <p *ngIf="vaga.dataTerminoTrabalho">{{vaga.dataTerminoTrabalho}}</p>
        <p class="" *ngIf="!vaga.dataTerminoTrabalho"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Horário início</span>
        <p *ngIf="vaga.horarioInicio">{{vaga.horarioInicio}}</p>
        <p class="" *ngIf="!vaga.horarioInicio"> - </p>
      </div>
      <div class="col-lg-3 col-sm-12">
        <span class="title__data">Horário fim</span>
        <p *ngIf="vaga.horarioEncerramento">{{vaga.horarioEncerramento}}</p>
        <p class="" *ngIf="!vaga.horarioEncerramento"> - </p>
      </div>
    </div>

    <div class="row col-12">
      <span class="title__data">Endereço</span>
      <p *ngIf="vaga.endereco">{{vaga.endereco}}</p>
      <p class="" *ngIf="!vaga.endereco"> - </p>
    </div>

    <div class="row col-12">
      <span class="title__data">Encerramento da inscrição</span>
      <p *ngIf="vaga.dataFinalizacaoVaga">{{vaga.dataFinalizacaoVaga}}</p>
      <p class="" *ngIf="!vaga.dataFinalizacaoVaga"> - </p>
    </div>

    <section>
      <h3> Requisitos</h3>
      <p *ngIf="vaga.requisitos">{{vaga.requisitos}}</p>
      <p class="" *ngIf="!vaga.requisitos">Não possui</p>

    </section>

    <div class="buttonsVagasCadastradas">
      <button *ngIf="!vaga.inscrito" class="btn btn-primary" (click)="confirmarInscricao()">
        Inscrição
      </button>
      <button *ngIf="vaga.inscrito" class="btn btn-danger" (click)="cancelarInscricao()">
        Cancelar inscrição
      </button>
    </div>

    <div class="voltar">
      <button class="btn btn-primary" routerLink="/Estudante/buscar-vagas">
        Voltar
      </button>
    </div>

  </main>
</section>