<section class="modal-header">
  <h2 class="modal-title">Dados do Certificado de Trabalho Voluntário</h2>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</section>
<section class="modal-body"> 
  <div class="row">
    <b>Nome da Entidade</b>
    <p>{{ certificado?.idEntidade?.razaoSocial }} </p>
  </div>
  <div class="row">
    <b>Nome da Vaga</b>
    <p>{{ certificado?.idInscricao?.vagaId?.nomeVaga }} </p>
  </div>
  <div class="row">
    <b>Período de realização do trabalho</b>
    <p>{{ certificado.dataInicio | date : 'dd/MM/yyyy' }} - {{ certificado.dataFim | date : 'dd/MM/yyyy' }}</p>
  </div>
  <div class="row">
    <b>Carga Horária</b>
    <p>{{ certificado.cargaHoraria }} horas</p>
  </div>

</section>
<section class="modal-footer">  
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Voltar</button>
</section>