<section class="content">
    <div class="topo">
      <h1>Editar Curso</h1>
    </div>
  
    <section class="contentDetails">
      <div class="cadastro">
  
        <form [formGroup]="formCadastro" #formDir="ngForm" class="formCadastro">
          <div class="form-group">
            <label for="nome">NOME <em>*</em> </label>
            <input type="text" class="form-control" id="nome" placeholder="Informe o nome do Curso" formControlName="nome"
              mask="00.000.000/0000-00" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.nome.touched && formCadastro.controls.nome.invalid
            " [@fadeInOut]>
              O campo CNPJ é obrigatório!
            </small>
          </div>
  
          <div class="form-group">
            <label for="nome">Nome da Instituição <em>*</em> </label>
            <input type="text" class="form-control" id="nome" placeholder="Nome da Instituição" formControlName="nome" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.nome.touched &&
              formCadastro.controls.nome.invalid
            " [@fadeInOut]>
              O campo Nome da Instituição é obrigatório!
            </small>
          </div>
          <div class="form-group">
            <label for="sigla">Sigla <em>*</em> </label>
            <input type="text" class="form-control" id="sigla" placeholder="Sigla da Instituição"
              formControlName="sigla" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.sigla.touched &&
              formCadastro.controls.sigla.invalid
            " [@fadeInOut]>
              O campo Sigla da Instituição é obrigatório!
            </small>
          </div>
          <div class="form-group">
            <label for="estado">Estado/UF <em>*</em> </label>
            <ng-select [items]="estados" id="ngSelect" bindLabel="nome" bindValue="id" placeholder="Selecione"
              formControlName="estado" (ngModelChange)="onAddCidade()" (value)="formCadastro.get('estado')?.value">
            </ng-select>
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.uf.touched &&
              formCadastro.controls.uf.invalid
              " [@fadeInOut]>
              O campo Estado/UF é obrigatório!
            </small>
          </div>
          <div class="form-group">
            <label for="estado">Cidade <em>*</em> </label>
            <ng-select [items]="cidades" id="ngSelect" bindLabel="nome" bindValue="id" placeholder="Selecione"
              formControlName="cidade" (ngModelChange)="onAddBairro()" (closeOnSelect)="(true)">
            </ng-select>
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.uf.touched &&
              formCadastro.controls.uf.invalid
              " [@fadeInOut]>
              O campo Estado/UF é obrigatório!
            </small>
          </div>
          <div class="form-group">
            <label for="logradouro">Logradouro <em>*</em> </label>
            <input type="text" class="form-control" id="logradouro" placeholder="Rua, Avenida, Travessa, etc."
              formControlName="logradouro" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="formCadastro.controls.logradouro.touched &&
            formCadastro.controls.logradouro.invalid" [@fadeInOut]>
              O campo Logradouro é obrigatório!
            </small>
          </div>
          <div class="row duplo">
            <div class="col">
              <label for="numero">Número <em>*</em> </label>
              <input type="text" class="form-control" placeholder="Número" formControlName="numero" />
              <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="formCadastro.controls.numero.touched &&
                formCadastro.controls.numero.invalid" [@fadeInOut]>
                O campo Número é obrigatório!
              </small>
            </div>
            <div class="col">
              <label for="bairro">Bairro <em>*</em> </label>
              <input type="text" class="form-control" placeholder="Bairro" formControlName="bairro" />
              <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="formCadastro.controls.bairro.touched &&
                formCadastro.controls.bairro.invalid" [@fadeInOut]>
                O campo Bairro é obrigatório!
              </small>
            </div>
          </div>

          <div class="row duplo">
            <div class="col">
              <label for="complemento">Complemento <em>*</em> </label>
              <input type="text" class="form-control" placeholder="Complemento ou Ponto de Referência." formControlName="complemento" />
              <small id="complemento" class="form-text text-danger ng-star-inserted" *ngIf="formCadastro.controls.numero.touched &&
                formCadastro.controls.numero.invalid" [@fadeInOut]>
                O campo Número é obrigatório!
              </small>
            </div>
            <div class="col">
              <label for="bairro">Bairro <em>*</em> </label>
              <input type="text" class="form-control" placeholder="Bairro" formControlName="bairro" />
              <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="formCadastro.controls.bairro.touched &&
                formCadastro.controls.bairro.invalid" [@fadeInOut]>
                O campo Bairro é obrigatório!
              </small>
            </div>
          </div>
  
          <div class="buttonForm mt-1">
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="reset" class="btn btn-warning">Limpar </button>
          </div>
        </form>
      </div>
    </section>
  </section>
