.busca {
  margin-bottom: 1rem;
}

.pagination ::ng-deep {
  align-self: center;

  .page-item {
    &.active {
      .page-link {
        background-color: #fff;
        color: #439024;
      }
    }

    .page-link {
      background-color: #fff;
      color: #7d7d7d;
      border-color: #ebebec;
      font-size: 14px;
    }
  }
}
