.topo {
  flex-direction: column;
  align-items: center;
}

h2 {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 1rem;
}

svg {
  width: 60px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.dash {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/* .quantidade-chamados {
  border-radius: 50%;
  padding-top: 6px;
  border-radius: 20%;
  padding-bottom: 6px;
  padding-right: 9px;
  padding-left: 9px;
  background: green;
  color: white;
  font-weight: 600;
} */

.card {
  padding:1rem;
  justify-content: center;
 // background-color: #2e6793;
  color: white;
  span {
    font-size: medium;
  }
}

.dados {
  margin-left: 1rem;
  text-align: end;
}

.quantidade-chamados {
  font-size: xx-large;
}

/* .dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e6793;
  color: white;
  border-radius: 5px;
  div {
    padding: 1.5rem;
  }
  span {
    font-size: medium;
  }
} */

.content-main-dashboard {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;

  span {
    font-size: medium;
  }
}
