.content-meu-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b6cfd3;
    border-radius: 0.5rem;
    margin-bottom: 7px;
}

svg{
    width: 40px;
    padding-right: 10px;
}

.quantidade-chamados{
    border-radius: 50%;
    //border: 1px solid;
    padding-top: 6px;
    border-radius: 20%;
    padding-bottom: 6px;
    padding-right: 9px;
    padding-left: 9px;
    background: green;
    opacity: 0.6;
    color: white;
    font-weight: 600;
}

.title-index{
    font-weight: 400;
}

.content-main-dashboard, .content-dashboard{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.content-main-dashboard{
    padding-left: 1rem;
    padding-right: 1rem;
    div{
        width: 100%;
        margin-top: 2rem;
    }
}

.content-dashboard{
    justify-content: space-between;
    div{
        padding: 1rem;
    }
}

section{
    display: flex;
    margin-top: 1rem;
    //Primeira section onde está a sidebar
    section{
        .navSideBar{
            margin-top: 1rem;
            width: 20%;

            h2{
                text-align: center;
            }

        }
    }

    //Segunda section onde fica o conteúdo
    section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        h1{
            margin-left: 2rem;
            width: 100%;
            text-align: center;
            margin-top: 8px;
            font-weight: 500;
        }

        .contentPage{
            padding: 1.5rem;
            background-color: antiquewhite;
            border-radius: 0.5rem;
            width: 100%;
            margin-bottom: 1.5rem;
          }
          
          .content{
            margin-right: auto;
          }

          .contentDetails{
            display: flex;
            flex-direction: row-reverse;
            margin-right: auto;

            .imgDetails{
                text-align: center;
            }

            .btn{
                margin-top: 2rem;
                width: 25%;
                color: #fff;
                border-radius: 1rem;

                &:first-child{
                    background: green;
                    margin-right: 1rem;
                }

                &:nth-of-type(2){
                    background: red;
                }

                &:hover{
                    opacity: 0.7;
                }

            }

          }
    
    }

}