.topo {
  flex-direction: column;
  align-items: center;
}

h2 {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 1rem;
}

svg {
  width: 60px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.dash {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.card {
  padding:1rem;
  justify-content: center; 
  color: white;
  span {
    font-size: medium;
  }
}

.dados {
  margin-left: 1rem;
  text-align: end;
}

.quantidade-chamados {
  font-size: xx-large;
}

.content-main-dashboard {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;

  span {
    font-size: medium;
  }
}
