<section>
  <img
    src="../../../assets/imagens/cadastroImagem.jpg"
    class="card-img-top"
    alt="..."
  />
  <h2>Cadastro</h2>
  <div class="form-group selectButton">
    <select
      class="custom-select"
      [(ngModel)]="selectedItem"
      placeholder="Selecione um perfil"
    >
      <option *ngFor="let item of items" [ngValue]="item.id">
        <p>{{ item.name }}</p>
      </option>
    </select>
  </div>
  
  <section *ngIf="selectedItem == 1">
    <app-form-entidade></app-form-entidade>
  </section>

  <section *ngIf="selectedItem == 2">
    <app-form-estudante></app-form-estudante>
  </section>
</section>
