section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 100%;

  img {
    width: 40%;
  }

  h2 {
    margin-top: 1rem;
    color: #5a97a1;
    font-weight: bold;
  }

  .custom-select {
    padding: 0.2rem;
  }

  .selectButton {
    margin-top: 15px;
  }
}
