<div class="cadastro">
  <form [formGroup]="formCadastro" #formDir="ngForm">
    <label>
      <i> * Campos de preenchimento obrigatório </i>
    </label>

    <div class="form-group">
      <label for="nomeCompleto">Nome Completo <em>*</em> </label>
      <input type="text" class="form-control" id="nomeCompleto" placeholder="Nome Completo"
        formControlName="nomeCompleto" />
      <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
          formCadastro.controls.nomeCompleto.touched &&
          formCadastro.controls.nomeCompleto.invalid
        " [@fadeInOut]>
        O campo Nome Completo é obrigatório!
      </small>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="checkbox" formControlName="confirmaNomeSocial" />
      <label class="form-check-label" for="inlineFormCheck">
        Desejo usar meu nome social
      </label>
    </div>
    <div class="form-group">
      <label for="nomeSocial">Nome Social </label>
      <input type="nomeSocial" class="form-control" id="nomeSocial" placeholder="Nome Social"
        formControlName="nomeSocial" />
    </div>
    <div class="form-group">
      <label for="cpf">CPF <em>*</em> </label>
      <input type="text" class="form-control" id="cpf" placeholder="XXX.XXX.XXX-XX" formControlName="cpf"
        mask="000.000.000-00" />
      <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
          formCadastro.controls.cpf.touched && formCadastro.controls.cpf.invalid
        " [@fadeInOut]>
        O campo CPF é obrigatório!
      </small>
    </div>
    <div class="form-group">
      <label for="cpf">Estado Civil <em>*</em> </label>
      <ng-select [items]="estadoCivil" bindLabel="nome" bindValue="id" placeholder="Selecione"
        formControlName="estadoCivil">
      </ng-select>
    </div>

    <div class="form-group">
      <label for="email">E-mail <em>*</em> </label>
      <input type="email" class="form-control" id="email" placeholder="name@email.com" formControlName="email" />
      <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
          formCadastro.controls.email.touched &&
          formCadastro.controls.email.invalid
        " [@fadeInOut]>
        O campo E-mail é obrigatório!
      </small>
    </div>
    <div class="row duplo">
      <div class="col">
        <label for="identificacaoGenero">Identificação de Gênero </label>
        <input type="text" class="form-control" placeholder="Ex: Masculino" formControlName="identificacaoGenero" />
      </div>
      <div class="col">
        <label for="dataNascimento">Data de Nascimento <em>*</em> </label>
        <input class="form-control" type="date" />
        <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
            formCadastro.controls.dataNascimento.touched &&
            formCadastro.controls.dataNascimento.invalid
          " [@fadeInOut]>
          O campo Data de Nascimento é obrigatório!
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="telefone">Telefone <em>*</em> </label>
      <input type="text" class="form-control" id="telefone" placeholder="(XX) 9XXXX-XXXX" formControlName="telefone"
        mask="(00) 00000-0000 || (00) 0000-0000" />
      <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="formCadastro.controls.telefone.touched &&
        formCadastro.controls.telefone.invalid" [@fadeInOut]>
        O campo Telefone é obrigatório!
      </small>
    </div>
    <div class="form-group">
      <label for="cep">CEP <em>*</em> </label>
      <input type="text" (keyup)="validaCep()" class="form-control" id="cep" placeholder="XXXXX-XXX"
        formControlName="cep" mask="00000-000" />
      <label class="form-check-label" for="inlineFormCheck">
        <a class="link-cep" href="https://buscacepinter.correios.com.br/app/endereco/index.php" target="_blank">
          Encontre seu CEP
        </a>
      </label>
      <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
          formCadastro.controls.cep.touched && formCadastro.controls.cep.invalid
        " [@fadeInOut]>
        <br />
        O campo CEP é obrigatório!
      </small>
    </div>
    <div class="row duplo">
      <div class="col">
        <label for="estado">Estado/UF <em>*</em> </label>
        <ng-select [items]="estados" id="ngSelect" bindLabel="nome" bindValue="id" placeholder="Selecione"
          formControlName="estado" (ngModelChange)="onAddCidade()" (closeOnSelect)="(true)">
        </ng-select>
        <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="" [@fadeInOut]>
          O campo Estado é obrigatório!
        </small>
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Cidade <em>*</em> </label>
        <ng-select [items]="cidades" id="ngSelect" bindLabel="nome" bindValue="id" placeholder="Selecione"
          formControlName="cidade" (ngModelChange)="onAddBairro()" (closeOnSelect)="(true)">
        </ng-select>
        <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="" [@fadeInOut]>
          O campo Cidade é obrigatório!
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="logradouro">Logradouro <em>*</em> </label>
      <input type="text" class="form-control" id="logradouro" placeholder="Rua, Avenida, Travessa, etc."
        formControlName="logradouro" />
      <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="formCadastro.controls.logradouro.touched &&
        formCadastro.controls.logradouro.invalid" [@fadeInOut]>
        O campo Logradouro é obrigatório!
      </small>
    </div>

    <div class="row duplo">
      <div class="col">
        <label for="exampleFormControlInput1">Número <em>*</em> </label>
        <input type="text" class="form-control" placeholder="Número" formControlName="numero" />
        <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="formCadastro.controls.numero.touched &&
          formCadastro.controls.numero.invalid" [@fadeInOut]>
          O campo Número é obrigatório!
        </small>
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Bairro <em>*</em> </label>
        <input type="text" class="form-control" placeholder="Bairro" formControlName="bairro" />
        <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="formCadastro.controls.bairro.touched &&
          formCadastro.controls.bairro.invalid" [@fadeInOut]>
          O campo Bairro é obrigatório!
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="complemento">Complemento</label>
      <input type="text" class="form-control" id="complemento" placeholder="Complemento ou Ponto de Referência."
        formControlName="complemento" />
    </div>
    <div class="form-group">
      <label for="ies">Instituição de Ensino <em>*</em> </label>
      <ng-select [items]="instituicoes" id="ngSelect" bindLabel="nome" bindValue="id" placeholder="Selecione"
        formControlName="instituicao" (closeOnSelect)="(true)">
      </ng-select>
      <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
          formCadastro.controls.instituicao.touched &&
          formCadastro.controls.instituicao.invalid
        " [@fadeInOut]>
        O campo Instituição de Ensino é obrigatório!
      </small>
    </div>

    <div class="form-group">
      <label for="grau">Grau Acadêmico: <em>*</em> </label>
      <ng-select [items]="graus" id="ngSelect" bindLabel="nome" bindValue="id" placeholder="Selecione"
        formControlName="grau" (closeOnSelect)="(true)">
      </ng-select>
      <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
          formCadastro.controls.grau.touched &&
          formCadastro.controls.grau.invalid
        " [@fadeInOut]>
        O campo Grau Acadêmico é obrigatório!
      </small>
    </div>

    <div class="form-group">
      <label for="curso">Curso <em>*</em> </label>
      <ng-select [items]="cursos" id="ngSelect" bindLabel="nome" bindValue="id" placeholder="Selecione"
        formControlName="curso" (closeOnSelect)="(true)">
      </ng-select>
      <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
      formCadastro.controls.curso.touched &&
      formCadastro.controls.curso.invalid
    " [@fadeInOut]>
        O campo Curso é obrigatório!
      </small>
    </div>

    <div class="row duplo">
      <div class="col">
        <label for="anoInicio">Ano de Início <em>*</em> </label>
        <input class="form-control" placeholder="yyyy-mm-dd" type="date" id="anoInicio" formControlName="anoInicio" />
        <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
        formCadastro.controls.anoInicio.touched &&
        formCadastro.controls.anoInicio.invalid
      " [@fadeInOut]>
          O campo Ano de Início é obrigatório!
        </small>
      </div>
      <div class="col">
        <label for="anoConclusao">Previsão de conclusão <em>*</em> </label>
        <input class="form-control" placeholder="yyyy-mm-dd" type="date" id="anoConclusao"
          formControlName="anoConclusao" />
        <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
        formCadastro.controls.anoConclusao.touched &&
        formCadastro.controls.anoConclusao.invalid
      " [@fadeInOut]>
          O campo Previsão de Conclusão é obrigatório!
        </small>
      </div>
    </div>

    <div class="form-group inputFile">
      <label for="comprovanteMatricula">Comprovante de Matrícula <em>*</em>
      </label>
      <br>
      <input type="file" class="form-control-file" id="comprovanteMatricula" formControlName="comprovanteMatricula" />
      <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
      formCadastro.controls.comprovanteMatricula.touched &&
      formCadastro.controls.comprovanteMatricula.invalid">
        O campo Comprovante de Matrícula é obrigatório!
      </small>
    </div>
    <div class="form-group">
      <label for="inputPassword5">Senha <em>*</em> </label>
      <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
        placeholder="Digite a sua senha" formControlName="senha" />
      <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
          formCadastro.controls.senha.touched &&
          formCadastro.controls.senha.invalid
        " [@fadeInOut]>
        O campo Senha é obrigatório!
      </small>
    </div>
    <div class="form-group">
      <label for="inputPassword5">Confirmar Senha <em>*</em> </label>
      <input type="password" id="confirmarSenha" class="form-control" aria-describedby="passwordHelpBlock"
        placeholder="Confirme a sua senha" formControlName="confirmarSenha" (focusout)="validarSenha()" />
      <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
          formCadastro.controls.confirmarSenha.touched &&
          formCadastro.controls.confirmarSenha.invalid
        " [@fadeInOut]>
        O campo Confirmar senha é obrigatório!
      </small>
    </div>
    <div class="form-group">
      <input class="form-check-input" type="checkbox" id="inlineFormCheck" formControlName="termo" />
      <label class="form-check-label" for="inlineFormCheck">
        Declaro que li e concordo com os
        <a href="/">Termos de uso e privacidade</a>.
      </label>
    </div>
    <div class="form-group buttonForm">
      <button type="submit" class="btn btn-success" (click)="mostrarValores()">
        Cadastrar
      </button>
      <button type="reset" class="btn btn-warning">Limpar</button>
    </div>
  </form>
</div>