.cadastro {
  margin-top: 0.5em;
}

.form-group {
  padding: 0.5em;
}

.duplo {
  padding: 0.5em;
}

.form-check-label{
  margin-left: 0.2rem;
}

.buttonForm {
  margin-bottom: 1rem;
}

.btn {
  margin: 1rem;
  &:hover {
    opacity: 0.9;
  }
}

em {
  color: red;
}


.inputFile-file{
    background: rgb(231, 231, 230);
    border-radius: 5px;
    cursor: pointer;

    margin: 0.5rem 0rem;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}