<div class="content">
  <div class="topo">
    <h1>Cadastrar Vaga</h1>
  </div>

  <ngb-alert #alert type="warning">
    Verifique os dados se estão corretos antes de finalizar o formulário abaixo!
  </ngb-alert>

  <section class="contentDetails">
    <div class="cadastro">
      <form [formGroup]="formCadastro" (ngSubmit)="cadastrarVaga()">
        <label> <em>*</em><i> Campos de preenchimento obrigatório</i> </label>

        <div class="row userImg">
          <img id="imgUser" [src]="imagem" class="float-center" alt="..." />
        </div>
        <div class="form-group inputFile">
          <label for="imgPerfil">Imagem de Perfil </label>
          <br>
          <input type="file" class="form-control-file" accept="image/png, image/jpeg" id="inputFile" (change)="inputFileChange($event)" />
        </div>

        <div class="form-group">
          <label for="nomeVaga"> Titulo da Vaga <em>*</em> </label>
          <input type="text" class="form-control" id="nomeVaga" placeholder="Título da Vaga"
            formControlName="nomeVaga" />
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.nomeVaga.touched &&
              (formCadastro.controls.nomeVaga.invalid ||
              formCadastro.controls.nomeVaga.errors)
            " [@fadeInOut]>
            O campo Título é obrigatório!
          </small>
        </div>
        <div class="form-group">
          <label for="descricao"> Descrição <em>*</em> </label>
          <textarea class="form-control" id="descricao" rows="3" formControlName="descricao"
            placeholder="Descreva a vaga"></textarea>
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.descricao.touched &&
              (formCadastro.controls.descricao.invalid ||
              formCadastro.controls.descricao.errors)
            " [@fadeInOut]>
            O campo Descrição é obrigatório!
          </small>
        </div>
        <div class="form-group">
          <label for="requisitos"> Requisitos</label>
          <textarea class="form-control" id="requisitos" rows="3" formControlName="requisitos"
            placeholder="Descreva os requisitos"></textarea>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="auxilio" (change)="setAuxilio()"
            formControlName="auxilio" />
          <label class="form-check-label" for="auxilio">Possui auxílio?</label>
        </div>
        <div *ngIf="possuiAuxilio" class="form-group">
          <textarea class="form-control" id="descricaoAuxilio" formControlName="descricaoAuxilio"
            placeholder="Descreva o auxílio"></textarea>
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
            formCadastro.controls.descricaoAuxilio.touched &&
            ( formCadastro.controls.descricaoAuxilio.value == '' 
            || formCadastro.controls.descricaoAuxilio.value == null) && possuiAuxilio
            
                   " [@fadeInOut]>
            O campo Descrição do auxilio é obrigatório!
          </small>
        </div>
        <div class="row duplo">
          <div class="col">
            <label for="dataInicioTrabalho">
              Data de início da Atividade <em>*</em>
            </label>
            <!--Mínimo de 5 dias antes da data de hoje-->
            <input class="form-control" placeholder="yyyy-mm-dd" type="date" id="dataInicioTrabalho"
              formControlName="dataInicioTrabalho" min="{{dataMin | date: 'yyyy-MM-dd'}}"
              max="{{formCadastro.controls.dataTerminoTrabalho?.value | date: 'yyyy-MM-dd'}}"
              (change)="fimInscricao()" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
                formCadastro.controls.dataInicioTrabalho.touched &&
                (formCadastro.controls.dataInicioTrabalho.invalid ||
                formCadastro.controls.dataInicioTrabalho.errors)
              " [@fadeInOut]>
              O campo Data de início da Atividade é obrigatório!
            </small>
          </div>
          <div class="col">
            <label for="dataTerminoTrabalho">
              Data de encerramento da Atividade <em>*</em>
            </label>
            <input class="form-control" placeholder="yyyy-mm-dd" type="date" id="dataTerminoTrabalho"
              formControlName="dataTerminoTrabalho"
              min="{{formCadastro.controls.dataInicioTrabalho?.value | date: 'yyyy-MM-dd'}}" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
                formCadastro.controls.dataTerminoTrabalho.touched &&
                (formCadastro.controls.dataTerminoTrabalho.invalid ||
                formCadastro.controls.dataTerminoTrabalho.errors)
              " [@fadeInOut]>
              O campo Data de encerramento da Atividade é obrigatório!
            </small>
          </div>
        </div>

        <div class="row duplo">
          <div class="col">
            <label for="horarioInicioTrabalho"> Horário de inicio <em>*</em> </label>
            <input class="form-control" type="time" id="horarioInicioTrabalho"
              formControlName="horarioInicioTrabalho" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
                formCadastro.controls.horarioInicioTrabalho.touched &&
               ( formCadastro.controls.horarioInicioTrabalho.invalid ||
                formCadastro.controls.horarioInicioTrabalho.errors)
              " [@fadeInOut]>
              O campo Horário de início é obrigatório!
            </small>
          </div>
          <div class="col">
            <label for="horarioEncerramentoTrabalho">
              Horário de encerramento <em>*</em>
            </label>
            <input class="form-control" type="time" id="horarioEncerramentoTrabalho"
              formControlName="horarioEncerramentoTrabalho" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.horarioEncerramentoTrabalho.touched &&
            (  formCadastro.controls.horarioEncerramentoTrabalho.invalid ||
              formCadastro.controls.horarioEncerramentoTrabalho.errors)
            " [@fadeInOut]>
              O campo Horário de encerramento é obrigatório!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="numeroVagas">Quantidade de vagas<em>*</em> </label>
          <input class="form-control" placeholder="Selecione a quantidade" type="number" id="numeroVagas"
            formControlName="numeroVagas" />
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
            formCadastro.controls.numeroVagas.touched &&(
            formCadastro.controls.numeroVagas.invalid ||
            formCadastro.controls.numeroVagas.errors )
          " [@fadeInOut]>
            O campo Quantidade de vagas é obrigatório!
          </small>
        </div>

        <div class="form-group">
          <label for="numeroVagas">Dias de Trabalho <em>*</em> </label>
          <section>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Segunda" (change)="checkboxListChange('1')" >
              <label class="form-check-label" for="inlineCheckbox1">Segunda</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Terça" (change)="checkboxListChange('2')">
              <label class="form-check-label" for="inlineCheckbox2">Terça</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Quarta" (change)="checkboxListChange('3')">
              <label class="form-check-label" for="inlineCheckbox3">Quarta</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Quinta" (change)="checkboxListChange('4')">
              <label class="form-check-label" for="inlineCheckbox1">Quinta</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Sexta" (change)="checkboxListChange('5')">
              <label class="form-check-label" for="inlineCheckbox2">Sexta</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Sábado" (change)="checkboxListChange('6')">
              <label class="form-check-label" for="inlineCheckbox3">Sábado</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Domingo" (change)="checkboxListChange('0')">
              <label class="form-check-label" for="inlineCheckbox3">Domingo</label>
            </div>
          </section>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="utilizarEnderecoEntidade"
            formControlName="utilizarEnderecoEntidade" (change)="setEndereco()" />
          <label class="form-check-label" for="utilizarEnderecoEntidade">Desejo usar o endereço cadastrado da
            Entidade</label>
        </div>

        <div formGroupName="endereco" *ngIf="!utilizarEnderecoEntidade" [@fadeInOut]>

          <div>
            <div class="form-group">
              <label for="cep">CEP <em>*</em> </label>
              <input type="text" (keyup)="validaCep()" class="form-control" id="cep" placeholder="XXXXX-XXX"
                formControlName="cep" mask="00000-000" />
              <label class="form-check-label" for="inlineFormCheck">
                <a class="link-cep" href="https://buscacepinter.correios.com.br/app/endereco/index.php" target="_blank">
                  Encontre seu CEP
                </a>
              </label>
              <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
                  formCadastro.get('endereco.cep').touched &&( (formCadastro.get('endereco.cep').invalid ||
                  formCadastro.get('endereco.cep').errors))
            " [@fadeInOut]>
                <br />
                O campo CEP é obrigatório!
              </small>
            </div>
            <div class="row duplo">
              <div class="col">
                <label for="estado">Estado/UF <em>*</em> </label>
                <ng-select [items]="estados" id="ngSelect" bindLabel="nome" bindValue="id" placeholder="Selecione"
                  formControlName="estado" (ngModelChange)="onAddCidade()" (closeOnSelect)="(true)">
                </ng-select>
                <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
                  formCadastro.get('endereco.estado').touched && (formCadastro.get('endereco.estado').invalid ||
                  formCadastro.get('endereco.estado').errors)" [@fadeInOut]>
                  O campo Estado é obrigatório!
                </small>
              </div>
              <div class="col">
                <label for="exampleFormControlInput1">Cidade <em>*</em> </label>
                <ng-select [items]="cidades" id="ngSelect" bindLabel="nome" bindValue="id" placeholder="Selecione"
                  formControlName="cidade" (ngModelChange)="onAddBairro()" (closeOnSelect)="(true)">
                </ng-select>
                <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf=" (formCadastro.get('endereco.cidade').touched  && formCadastro.get('endereco.cidade').invalid) ||
              (formCadastro.get('endereco.cidade').errors && formCadastro.get('endereco.cidade').invalid)"
                  [@fadeInOut]>
                  O campo Cidade é obrigatório!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="logradouro">Logradouro <em>*</em> </label>
              <input type="text" class="form-control" id="logradouro" placeholder="Rua, Avenida, Travessa, etc."
                formControlName="logradouro" />
              <small id="emailHelp" class="form-text text-danger ng-star-inserted"
                *ngIf="formCadastro.get('endereco.logradouro').touched  && formCadastro.get('endereco.logradouro').invalid"
                [@fadeInOut]>
                O campo Logradouro é obrigatório!
              </small>
            </div>

            <div class="row duplo">
              <div class="col">
                <label for="exampleFormControlInput1">Número <em>*</em> </label>
                <input type="text" class="form-control" placeholder="Número" formControlName="numero" />
                <small id="emailHelp" class="form-text text-danger ng-star-inserted"
                  *ngIf="formCadastro.get('endereco.numero').touched && formCadastro.get('endereco.numero').invalid"
                  [@fadeInOut]>
                  O campo Número é obrigatório!
                </small>
              </div>
              <div class="col">
                <label for="exampleFormControlInput1">Bairro <em>*</em> </label>
                <input type="text" class="form-control" placeholder="Bairro" formControlName="bairro" />
                <small id="emailHelp" class="form-text text-danger ng-star-inserted"
                  *ngIf="formCadastro.get('endereco.bairro').touched && formCadastro.get('endereco.bairro').invalid"
                  [@fadeInOut]>
                  O campo Bairro é obrigatório!
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="complemento">Complemento</label>
              <input type="text" class="form-control" id="complemento" placeholder="Complemento ou Ponto de Referência."
                formControlName="complemento" />
            </div>
          </div>

        </div>

        <div class="form-group">
          <label for="dataFinalizacaoVaga">Data de encerramento da inscrição <em>*</em> </label>
          <!--Máximo de 2 dias antes da data de início-->
          <input type="date" class="form-control" id="dataFinalizacaoVaga" placeholder="yyyy-mm-dd"
            formControlName="dataFinalizacaoVaga" max="{{dataMaxFimInscricao | date: 'yyyy-MM-dd'}}" />
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.dataFinalizacaoVaga.touched &&
              formCadastro.controls.dataFinalizacaoVaga.invalid
            " [@fadeInOut]>
            O campo Data de encerramento da inscrição é obrigatório!
          </small>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="termoCondicao" formControlName="termoCondicao"
            (change)="aceitarTermo()" />
          <label class="form-check-label" for="termoCondicao">Declaro que a vaga cadastrada está de acordo com os
            <a href="/">termos e condições</a> do site</label>
        </div>

        <ngb-alert #alert type="warning">
          ATENÇÃO: A vaga passará por avaliação antes de ser habilitada para
          publicação
        </ngb-alert>

        <div class="form-group buttonForm">
          <button type="submit" class="btn mb-2 btn-success">Cadastrar</button>
          <button type="reset" class="btn mb-2 btn-warning">Limpar</button>
        </div>
      </form>
    </div>
  </section>
</div>