<main class="main-page">
    <section class="content">
            <h1>Esqueceu a senha?</h1>
            <P>
                Informe seu CPF abaixo para prosseguir com a solicitação.
            </P>
            <form>
                <div class="col-xl-12">
                    <label>
                        CPF <em class="text-danger">*</em>
                    </label>
                        <br>
                            <input 
                                class="form-control" 
                                id="cpf" type="text" 
                                placeholder="XXX.XXX.XXX-XX" 
                                mask="000.000.000-00">
                </div>
                    <br>
                <div class="content__botao" (click)="solicitarRecuperacaoSenha()"> 
                    <button class="col-12 btn-primary">
                        Solicitar
                    </button>      
                </div>
            </form>
    </section>
</main>