.topo {
    flex-direction: column;
    align-items: center;
  
    h1 {
      text-align: center;
      font-weight: 500;
    }
  }
  
  h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 1rem;
  }
  
  .contentDetails {
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: center;
  }

  .vagasDisponiveis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .containerCard {
    display: flex;
  }
  
  .buttonsVagasCadastradas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  
    button:first-child {
      margin-right: 0.5rem;
    }
  }

  .statusPosition {
    width: min-content;
    padding: 0.3rem;
    border-radius: 0.4rem;
    margin: 0.3rem 0rem 0.5rem 0.3rem;
    padding: 0.3rem;
  }
  
  .card {
    width: 15rem;
    margin-right: 10px;
    margin-top: 10px;
  
    div:nth-of-type(2) {
      h4 {
        text-align: center;
      }
  
      p:nth-of-type(2) {
        text-align: center;
        border-radius: 1rem;
      }
  
      div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  
  .pagination ::ng-deep {
    align-self: center;
  
    .page-item {
      &.active {
        .page-link {
          background-color: #fff;
          color: #439024;
        }
      }
  
      .page-link {
        background-color: #fff;
        color: #7d7d7d;
        border-color: #ebebec;
        font-size: 14px;
      }
    }
  }