<section class="content">
    <div class="topo">
        <h1>Vagas Cadastradas</h1>
    </div>

    <ngb-alert #alert type="primary">
        Verifique as vagas cadastradas
    </ngb-alert>  
    <h3 class="title__form__filtro">
        Filtre os Cards abaixo
    </h3>
  <form [formGroup]="formData" class="form__filtro">
    <div class="content-pesquisa mb-2 col-xl-6">
        <label for="cidade">Nome da vaga</label>
        <input 
            type="text" 
            class="form-control" 
            placeholder="Informe o nome da vaga"
            formControlName="filtro">
      </div>
        <div class="col-xl-4">
          <label for="cidade">Situação da Vaga </label>
          <ng-select 
            [items]="estadosVagas" 
            id="ngSelect" 
            bindLabel="nome" 
            bindValue="id" 
            placeholder="Selecione"
            formControlName="estado"
            (closeOnSelect)="(true)">
          </ng-select>
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="" [@fadeInOut]>
            O campo Cidade é obrigatório!
          </small>
        </div>
        <br>
        <div>
            <button class="btn btn-primary btn-pesquisa">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                  viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
                <span>
                    Pesquisar
                </span>
              </button>
        </div>
    </form>
<section>
    <div *ngIf="!vagasDisponiveis">
        <span> No momento não existe vagas cadastradas! </span>
    </div>
    <section>
        <div class="containerCard vagasDisponiveis">
            <div class="card" *ngFor="let vaga of vagasDisponiveis; let i = index">
                <p [ngClass]=" getStatus(vaga.status)" class="statusPosition">
                    {{ vaga.status }}
                  </p>
                <div class="imgCard">
                    <img src="{{ vaga.img }}" class="card-img-top" alt="..." />
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ vaga.nomeVaga }}</h4>
                    <p class="card-text">{{ vaga.descricao }}</p>
                    <div>
                        <button class="btn btn-primary" (click)="exibirDetalhes(vaga)">Detalhes</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <ngb-pagination class="pagination pull-right" [rotate]="true" [maxSize]="3" [directionLinks]="false"
        [collectionSize]="this.vagasDisponiveis.length" [pageSize]="itemsPerPage" [boundaryLinks]="true"
        [(page)]="paginaAtual" (pageChange)="mudancaPagina(paginaAtual)">
    </ngb-pagination>
</section>

</section>