<div class="container">
  <section class="titulo">
    <img [src]="LogoPath" class="logo d-none d-lg-block" />
  </section>

  <app-carousel></app-carousel>

  <div>
    <section class="row conteudo">
      <div class="historia col-md-8 col-sm-12 col-lg-8">
        <div class="historiatext">
          <h2>Nossa história</h2>
          <span>
            O site <b>Estudante Voluntário</b> surgiu a partir de uma ídeia de projeto de
            Conclusão de Curso da Universidade Federal do Paraná.
            Alinhando as experiências adquiridas com o trabalho voluntário, e, a
            possibilidade de utilizar essa experiência como horas formativas para
            os cursos
            <span class="" *ngIf="lermais">(...)</span>
            <span class="contentReadMore" *ngIf="!lermais">
              de Graduação da UFPR, esses alunos do SEPT (Setor de Educação Profissional
              e Tecnológica) desenvolveram o site Estudante Voluntário, com a finalidade de permitir que
              as Entidades divulguem as suas vagas de voluntariado e de possibilitar que os Estudantes interessados se
              inscrevam nas vagas pelo sistema.
            </span>
          </span>
        </div>
        <div class="d-flex justify-content-center buttonOpen">
          <button class="btn btn-primary btnReadMore" (click)="lerMais()">
            <span class="" *ngIf="lermais">Continuar...</span>
            <span class="" *ngIf="!lermais">Retornar...</span>
          </button>
        </div>
      </div>
      <div class="btnCadastrarDiv col-md-4 col-sm-4">
        <button class="btn btn-primary" routerLink="/cadastro">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd"
              d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
          </svg>
          <span>
            <h4 style="display: inline"> Venha fazer parte desse time!</h4>
          </span>
        </button>
      </div>
    </section>
    <hr />

    <section id="objetivos">
      <div class="row content">
        <h2 class="subTitulo">Qual nosso é o nosso objetivo?</h2>
      </div>

      <div class="containerCard objetivoCards">
        <div class="card" *ngFor="let beneficio of listBeneficios">
          <div class="imgCard">
            <img src="{{ beneficio.img }}" class="card-img-top" alt="..." />
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ beneficio.title }}</h4>
            <p class="card-text">{{ beneficio.content }}</p>
          </div>
        </div>
      </div>
    </section>
    <hr />

    <section id="vagas">
      <div class="row content">
        <h2 class="subTitulo">Verifique algumas das nossas oportunidades!</h2>
      </div>

      <div class="containerCard">
        <div class="card" style="width: 18rem" *ngFor="let beneficio of vagasParaAmostra">
          <div class="imgCard">
            <img src="{{ beneficio.img }}" class="card-img-top" alt="..." />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ beneficio.title }}</h5>
            <p class="card-text">{{ beneficio.content }}</p>
          </div>
          <button href="#" class="btn">Candidatar-se</button>
        </div>
      </div>
    </section>

    <hr />

    <section id="comoFunciona">
      <div class="row content">
        <h2 class="subTitulo">Como funciona o Estudante Voluntário?</h2>
      </div>
      <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
        atque ea quis molestias. Fugiat pariatur maxime quis culpa
        corporis vitae repudiandae aliquam voluptatem veniam, est atque
        cumque eum delectus sint!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
        atque ea quis molestias. Fugiat pariatur maxime quis culpa
        corporis vitae repudiandae aliquam voluptatem veniam, est atque
        cumque eum delectus sint!</span>
      <div class="row">
        <img src="'../../assets/imagens/horasFormativas.png" alt="..." />
      </div>
    </section>


    <section id="sobreNos" class="footer">
      <div class="footercontainer p-4">
        <div class="row">
          <h2>Sobre nós</h2>
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer text</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
              atque ea quis molestias. Fugiat pariatur maxime quis culpa
              corporis vitae repudiandae aliquam voluptatem veniam, est atque
              cumque eum delectus sint!

            </p>
          </div>

          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer text</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
              atque ea quis molestias. Fugiat pariatur maxime quis culpa
              corporis vitae repudiandae aliquam voluptatem veniam, est atque
              cumque eum delectus sint!
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>