<section class="modal-header">
  <h2 class="modal-title">{{ vagaSelecionada.nomeVaga }} - {{vagaSelecionada.status}}</h2>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</section>
<section class="modal-body">
  <div class="row col-12">
    <div class="col-6">
      <b class="">Vaga</b>
      <p class="">{{ vagaSelecionada.nomeVaga }} </p>
    </div>
    <div class="col-6">
      <b class="">Entidade</b>
      <p class="">{{ vagaSelecionada.nomeEntidade }} </p>
    </div>
  </div>
  <div class="row col-12">
    <div class="col-12">
      <b class="">Descrição da vaga</b>
      <p class="">{{ vagaSelecionada.descricao }} </p>
    </div>
  </div>
  <div class="row col-12">
    <div class="col-12">
      <b class="">Endereço</b>
      <p class="">{{ vagaSelecionada.endereco }}, {{ vagaSelecionada.numero }} - {{ vagaSelecionada.bairro }}</p>
    </div>
  </div>
  <div class="row col-12">
    <div class="col-4">
      <b class="">Cidade</b>
      <p class="">{{ vagaSelecionada.cidade }}</p>
    </div>
    <div class="col-4">
      <b class="">Estado</b>
      <p class="">{{ vagaSelecionada.estado }} </p>
    </div>
    <div class="col-4">
      <b class="">CEP</b>
      <p class="">{{ vagaSelecionada.cep }} </p>
    </div>
  </div>
  <div class="row col-12">
    <b class="">Período do trabalho</b>
    <p class="">{{ vagaSelecionada.dataInicioTrabalho }} - {{ vagaSelecionada.dataTerminoTrabalho }}</p>
  </div>
  <div class="row col-12">
    <b class="">Horário</b>
    <p class="">{{ vagaSelecionada.horarioInicio }} - {{ vagaSelecionada.horarioEncerramento }}</p>
  </div>
  <div class="row col-12">
    <b class="">Período de inscrição</b>
    <p class="">Até {{ vagaSelecionada.dataFinalizacaoVaga }}</p>
  </div>


</section>
<section class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Voltar</button>
</section>