<section class="d-flex justify-content-center py-2">

    <section class="col-2 navSideBar px-2 pb-2" style="margin:0; padding: 0;">
        <sidebar-administrador></sidebar-administrador>
    </section>

    <section class="col-10 px-2 pb-2 d-flex flex-column align-items-center">

        <h1 class="float-center">
            Meu perfil
        </h1>

        <div class="d-flex">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Dados Pessoais">
                    <form [formGroup]="formCadastro" #formDir="ngForm">
                        <!-- <div class="d-flex my-3 flex-column justify-content-center align-items-center contentDetails-photo">
                                <img src="../../../../assets/imagens/NoUser.jpg">
                            <button>
                                <img src="../../../../assets/svg/pencil-square.svg">
                            </button>
                        </div> -->
                        <!-- <div class="row userImg">
                            <img id="imgUser" src="../../../../assets/imagens/cadastroImagem.jpg" class="float-left" alt="...">
                        </div>
                        <div class="form-group inputFile">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div> -->
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nome <em class="text-danger">*</em> </label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nome Completo" formControlName="nome">
                            <!--
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            -->    
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nome Social <em class="text-danger">*</em> </label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nome Completo" formControlName="nomeSocial">
                            <!--
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            -->    
                        </div>
                        <div class="form-group">
                            <input class="form-check-input" type="checkbox" id="inlineFormCheck" formControlName="confirmaNomeSocial">
                            <label class="form-check-label" for="inlineFormCheck">
                                Desejo usar meu nome social
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">CPF <em class="text-danger">*</em> </label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="XXX.XXX.XXX-XX" formControlName="cpf">
                            <!--
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            -->    
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="exampleFormControlInput1">identificação de Gênero <em class="text-danger">*</em> </label>
                                <input type="text" class="form-control" placeholder="Ex: Masculino" formControlName="identificacaoGenero">
                            </div>
                            <div class="col">
                                <label for="exampleFormControlInput1">Data de Nascimento <em class="text-danger">*</em> </label>
                                <input type="text" class="form-control" placeholder="Ex: 01/03/1997" formControlName="dataNascimento">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email <em class="text-danger">*</em> </label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@email.com" formControlName="email">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Telefone <em class="text-danger">*</em> </label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="(XX) 9XXXX-XXXX" formControlName="telefone">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Cep <em class="text-danger">*</em> </label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="XXXXX-XXX" formControlName="cep">
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="exampleFormControlInput1">Estado/UF <em class="text-danger">*</em> </label>
                                <input type="text" class="form-control" placeholder="Estado" formControlName="estado">
                            </div>
                            <div class="col">
                                <label for="exampleFormControlInput1">Cidade <em class="text-danger">*</em> </label>
                                <input type="text" class="form-control" placeholder="Cidade" formControlName="cidade">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Complemento <em class="text-danger">*</em> </label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Complemento ou Ponto de Referência." formControlName="complemento">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Logradouro <em class="text-danger">*</em> </label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Rua, Avenida, Travessa, etc." formControlName="logradouro">
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="exampleFormControlInput1">Número <em class="text-danger">*</em> </label>
                                <input type="text" class="form-control" placeholder="Número" formControlName="numero">
                            </div>
                            <div class="col">
                                <label for="exampleFormControlInput1">Bairro <em class="text-danger">*</em> </label>
                                <input type="text" class="form-control" placeholder="Bairro" formControlName="bairro">
                            </div>
                          </div>
                        <div class="buttonForm">
                            <button type="submit" class="btn btn-primary mb-2 cadastrar" [disabled]="this.formCadastro.invalid" (click)="mostrarValores()">Cancelar</button>   
                            <button type="submit" class="btn btn-primary mb-2 salvar">Salvar</button> 
                        </div>
                     </form>
                </mat-tab>
                <mat-tab label="Segurança">
                    <form [formGroup]="formCadastro">
                        <div class="form-group">
                          <label for="inputPassword5">Senha <em class="text-danger">*</em> </label>
                          <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Digite a sua senha" formControlName="senha">
                        </div>
                        <div class="form-group">
                          <label for="inputPassword5">Confirmar Senha <em class="text-danger">*</em> </label>
                          <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Confirme a sua senha" formControlName="senha">
                        </div>
                        <div class="buttonForm">
                            <button type="submit" class="btn btn-primary mb-2 cadastrar" [disabled]="this.formCadastro.invalid" (click)="mostrarValores()">Cancelar</button>   
                            <button type="submit" class="btn btn-primary mb-2 salvar">Salvar</button> 
                        </div>
                    </form>
                </mat-tab>
            </mat-tab-group> 
        </div>

    </section>

</section>
