<div class=" botaoFechar col-12">
    <button mat-button (click)="fecharModal()">X</button>
</div>

<section>
    <h2>Detalhes da Vaga - {{data.nomeVaga}}</h2>

    <span>Status vaga: {{data.status}}</span>

    <div class="contentGrid">
        <span>Entidade Responsável: {{data.nomeEntidade}}</span>
        <span>Descrição: {{data.descricao}}</span>
    </div>

    <div>
        <button class="btn btn-success">
            Confirmar
        </button>
        <button class="btn btn-danger" (click)="fecharModal()">
            Cancelar
        </button>
    </div>

</section>