section{

    .statusVaga{
        text-align: end;
    }

    .botaoFechar{
      margin: 0;
      padding: 0;
      text-align: end;
        button{
            border: none !important;
            background: none !important;
            font-size: larger !important;
            color: #000000 !important;
        }
    }

    .contentGrid{
        display: grid;
    }
    div{
        button{
            border: none;
            background-color: #008000;
            color: #ffffff;
            border-radius: 1rem;
            padding: 0.5rem;
            margin-top: 0.5rem;
            margin-right: 0.5rem;

            &:hover{
                opacity: 0.5;
            }

            &:nth-of-type(2){
                background-color: #ff0000 !important;
                color: #000000 !important;
            }
        }
    }

}