<section class="modal-header">
  <h2 class="modal-title">TERMO DE ADESÃO - Trabalho Voluntário</h2>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</section>
<section class="modal-body">
  <section class="info">
    <h3>Informações do(a) Voluntário(a)</h3>
    <div class="col-12">
      <p><label>Nome Completo: </label> {{ estudante.nomeCompleto }} </p>
    </div>
    <div class="row col-12">
      <div class="col-6">
        <p><label>RG: </label>{{ estudante.rg }} - {{ estudante.rgEmissor }} </p>
      </div>
      <div class="col-6">
        <p><label>CPF: </label> {{ estudante.userid.login | cpf }} </p>
      </div>
    </div>
    <div class="row col-12">
      <div class="col-6">
        <p><label>Estado Civil: </label> {{ estudante.estadoCivil }} </p>
      </div>
      <div class="col-6">
        <p><label>Telefone: </label> {{ estudante.telefone }} </p>
      </div>
    </div>
    <div class="col-12">
      <p><label>E-mail: </label> {{ estudante.email }} </p>
    </div>
    <div class="col-12">
      <span><label>Endereço: </label> {{ estudante.endereco.logradouro }}, {{ estudante.endereco.numero }}, {{
        estudante.endereco.bairro }} -
        {{ estudante.endereco.cep }} - {{ estudante.endereco.cidade }}/{{estudante.endereco.estado }}</span>
    </div>
  </section>
  <hr />

  <section class="info">
    <h3>Informações da Entidade</h3>
    <div class="col-12">
      <p><label>Razão Social: </label> {{ entidade.razaoSocial }} </p>
    </div>
    <div class="col-12">
      <p><label>CNPJ: </label> {{ entidade.userid.login | cnpj }} </p>
    </div>
    <div class="col-12">
      <p><label>Telefone: </label> {{ entidade.telefone | phone }} </p>
    </div>
    <div class="col-12">
      <p><label>E-mail: </label> {{ entidade.email }} </p>
    </div>
    <div class="col-12">
      <span><label>Endereço: </label> {{ entidade.endereco.logradouro }}, {{ entidade.endereco.numero }}, {{
        entidade.endereco.bairro }} -
        {{ entidade.endereco.cep }} - {{ entidade.endereco.cidade }}/{{ entidade.endereco.estado }}</span>
    </div>
  </section>
  <hr />
  <section class="info">
    <h3>Informações da Atividade</h3>
    <div class="row col-12">
      <div class="col-6">
        <p><label>Vaga: </label> {{ vaga.nomeVaga }}</p>
      </div>
      <div class="col-6">
        <p><label>Entidade: </label> {{ entidade.nomeFantasia }}</p>
      </div>
    </div>
    <div class="col-12">
      <p><label>Descrição da vaga: </label> {{ vaga.descricao }}</p>
    </div>
    <div class="col-12">
      <p><label>Requisitos: </label> {{ vaga.requisitos }}</p>
    </div>
    <div class="col-12">
      <p *ngIf="vaga.auxilio"><label>Auxílio ofertado: </label> {{ vaga.auxilio }}</p>
      <p *ngIf="!vaga.auxilio"><label>Auxílio ofertado: </label> Não há</p>
    </div>
    <div class="col-12">
      <p><label>Período do trabalho: </label> {{ vaga.dataInicioTrabalho | localDate}} - {{
        vaga.dataEncerramentoTrabalho | localDate }}</p>
    </div>
    <div class="col-12">
      <p><label>Horário: </label> {{ vaga.horarioInicioTrabalho | localHour }} - {{ vaga.horarioEncerramentoTrabalho |
        localHour }}</p>
    </div>
  </section>
  <hr />
  <section class="info">
    <p>
      Pelo presente Termo de Adesão e ciente da Lei n. 9.608/1998 que rege o trabalho voluntário,
      decido espontaneamente realizar atividade voluntária nesta organização.</p>
    <p> Declaro, ainda, que estou ciente de que o trabalho não será remunerado e que não configurará vínculo
      empregatício
      ou gerará qualquer obrigação de natureza trabalhista, previdenciária ou afim.</p>
    <p>
      Declaro, por fim, que estou ciente de que eventuais danos pessoais ou materiais causados no exercício do trabalho
      voluntário serão de total e integral responsabilidade minha e não serão imputados à esta organização.</p>

    <br />

    <p *ngIf="!termo.idInscricao.termoAdesao">Curitiba, {{dia}} de {{mes}} de {{ano}}.</p>
    <div *ngIf="termo.idInscricao.termoAdesao">
      <p>Termo de Adesão aceito em: {{termo.aceiteTermo | localDate }}.</p>
    </div>

    <div *ngIf="termo.rescisaoTermo">
      <p>Termo Rescindido em: {{termo.rescisaoTermo | localDate }}.</p>
    </div>

  </section>

</section>

<section class="modal-footer">
  <button *ngIf="!termo.idInscricao.termoAdesao" type="button" class="btn btn-primary"
    (click)="aceitarTermo()">Aceitar</button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Voltar</button>
</section>