<main class="main-page">
    <section class="content">
        <h1>Validar Certificado</h1>
        <P>
            Informe o código de verificação prosseguir com a solicitação.
        </P>
        <form [formGroup]="formCadastro" #formDir="ngForm" class="formCadastro" (ngSubmit)="validarCertificado()">
            <div class="col-xl-12">
                <label>
                    Código de Verificação:<em class="text-danger">*</em>
                </label>
                <br>
                <input formControlName="codigo" class="form-control" id="código" type="text" placeholder="Digite os números">
            </div>
            <br>
            <div class="content__botao">
                <button type="submit" class="col-12 btn btn-primary">
                    Validar Certificado
                </button>
            </div>
            <label class="mt-2 text-success text-result" *ngIf="certificadoValido">
                {{mensagem}}
            </label>
            <label class="mt-2 text-success text-danger" *ngIf="!certificadoValido">
                {{mensagem}}
            </label>
        </form>
    </section>
     <div *ngIf="certificadoValido">     
        <h3>Dados Certificado</h3>   

        <p>
            Certificamos para os devidos fins, que <span class="content_resultado">{{dataCertificado?.nomeEstudante}}</span>, participou da atividade <span class="content_resultado">{{dataCertificado?.idInscricao?.vagaId?.nomeVaga}}</span>, como trabalho voluntário, na entidade <span class="content_resultado">{{dataCertificado?.idEntidade?.razaoSocial}}</span> - CNPJ: <span class="content_resultado">{{dataCertificado?.idEntidade?.userid?.login}}</span>.
            durante o período de <span class="content_resultado">{{dataCertificado?.dataInicio}}</span> até <span class="content_resultado">{{dataCertificado?.dataFim}}</span>, totalizando <span class="content_resultado">{{dataCertificado?.cargaHoraria}} horas</span>.
        </p>
    </div>
</main>