<section class="content">
    <div class="topo">
      <h1>Cadastrar Vaga</h1>
    </div>
  
    <section class="contentDetails">
      <div class="cadastro">
        <span>
          <i class="py-2"> <em>*</em>Campos de preenchimento obrigatório. </i>
        </span>
  
        <div class="py-2">
          <div class="form-group">
            <label for="tituloVaga"> Titulo da Vaga <em>*</em> </label>
            <input
              type="text"
              class="form-control col-6"
              id="tituloVaga"
              placeholder="Titulo da Vaga"
              formControlName="tituloVaga"
            />
          </div>
          <div class="form-group">
            <label for="descricao"> Descrição <em>*</em> </label>
            <textarea
              class="form-control"
              id="descricao"
              rows="3"
              formControlName="descricao"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="requisitos"> Requisitos <em>*</em> </label>
            <textarea
              class="form-control"
              id="requisitos"
              rows="3"
              formControlName="requisitos"
            ></textarea>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="possuiAuxilio"
              formControlName="possuiAuxilio"
            />
            <label class="form-check-label" for="possuiAuxilio"
              >Possui auxilio?</label
            >
          </div>
  
          <div class="row duplo">
            <div class="col">
              <label for="dataInicioTrabalho">
                Data inicio Trabalho <em>*</em>
              </label>
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                type="date"
                id="dataInicioTrabalho"
                formControlName="dataInicioTrabalho"
              />
            </div>
            <div class="col">
              <label for="dataTerminoTrabalho">
                Data fim Trabalho <em>*</em>
              </label>
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                type="date"
                id="dataTerminoTrabalho"
                formControlName="dataTerminoTrabalho"
              />
            </div>
          </div>
  
          <div class="col">
            <label for="quantidadeVagas"> Quantidade de vagas <em>*</em> </label>
            <input
              class="form-control"
              placeholder="Quantidade"
              type="number"
              id="quantidadeVagas"
              formControlName="quantidadeVagas"
            />
          </div>
  
          <div class="row duplo">
            <div class="col">
              <label for="horarioInicioExpediente">
                Horário de Inicio <em>*</em>
              </label>
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                type="date"
                id="horarioInicioExpediente"
                formControlName="horarioInicioExpediente"
              />
            </div>
            <div class="col">
              <label for="horarioEncerramentoExpediente">
                Horário de Encerramento <em>*</em>
              </label>
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                type="date"
                id="horarioEncerramentoExpediente"
                formControlName="horarioEncerramentoExpediente"
              />
            </div>
          </div>
  
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="utilizarEnderecoEntidade"
              formControlName="utilizarEnderecoEntidade"
            />
            <label class="form-check-label" for="utilizarEnderecoEntidade"
              >Desejo usar o endereço cadastrado da Entidade?</label
            >
          </div>
  
          <div>
            <div class="form-group">
              <label for="cep">Cep <em>*</em> </label>
              <input
                type="text"
                class="form-control"
                id="cep"
                placeholder="XXXXX-XXX"
                formControlName="cep"
              />
            </div>
            <div class="form-group">
              <label for="logradouro">Logradouro <em>*</em> </label>
              <input
                type="text"
                class="form-control"
                id="logradouro"
                placeholder="Rua, Avenida, Travessa, etc."
                formControlName="logradouro"
              />
            </div>
            <div class="row duplo">
              <div class="col">
                <label for="numero">Número <em>*</em> </label>
                <input
                  type="text"
                  class="form-control"
                  id="numero"
                  placeholder="Número"
                  formControlName="numero"
                />
              </div>
              <div class="col">
                <label for="bairro">Bairro <em>*</em> </label>
                <input
                  type="text"
                  class="form-control"
                  id="bairro"
                  placeholder="Bairro"
                  formControlName="bairro"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="complemento">Complemento <em>*</em> </label>
              <input
                type="text"
                class="form-control"
                id="complemento"
                placeholder="Complemento ou Ponto de Referência."
                formControlName="complemento"
              />
            </div>
            <div class="row duplo">
              <div class="col">
                <label for="estado">Estado/UF <em>*</em> </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Número"
                  id="estado"
                  formControlName="estado"
                />
              </div>
              <div class="col">
                <label for="cidade">Cidade <em>*</em> </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Bairro"
                  id="cidade"
                  formControlName="cidade"
                />
              </div>
            </div>
          </div>
  
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="termosCondicao"
              formControlName="termosCondicao"
            />
            <label class="form-check-label" for="termosCondicao"
              >Declaro que a vaga cadastrada está de acordo com os termos e
              condições do site!</label
            >
          </div>
  
          <ngb-alert #alert type="warning">
            ATENÇÃO: A vaga passará por avaliação antes de ser habilitada para
            publicação
          </ngb-alert>
  
          <div class="buttonForm">
            <button type="submit" class="btn btn-success mb-2">Cadastrar</button>
            <button type="submit" class="btn btn-warning mb-2">Limpar</button>
          </div>
        </div>
      </div>
    </section>
  </section>
  