.topo {
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
  }
}

.cadastro {
  margin-top: 0.5em;
}

.form-group {
  padding-bottom: 1em;
}

.form-check {
  padding-bottom: 1em;
}

.duplo {
  padding-bottom: 1em;
}

.contentDetails {
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
  padding: 0;
}

.btn {
  margin: 1rem;
  width: 25%;
  border-radius: 1rem;
}
