<section class="content">
  <div class="topo">
    <h1>Cadastrar Vaga</h1>
  </div>

  <section class="contentDetails">
    <div class="cadastro">
      <form [formGroup]="formCadastro">
        <label> <em>*</em><i> Campos de preenchimento obrigatório</i> </label>

        <div class="form-group">
          <label for="tituloVaga"> Titulo da Vaga <em>*</em> </label>
          <input type="text" class="form-control" id="tituloVaga" placeholder="Titulo da Vaga"
            formControlName="tituloVaga" />
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.tituloVaga.touched &&
              formCadastro.controls.tituloVaga.invalid
            " [@fadeInOut]>
            O campo Título é obrigatório!
          </small>
        </div>
        <div class="form-group">
          <label for="descricao"> Descrição <em>*</em> </label>
          <textarea class="form-control" id="descricao" rows="3" formControlName="descricao"></textarea>
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.descricao.touched &&
              formCadastro.controls.descricao.invalid
            " [@fadeInOut]>
            O campo Descrição é obrigatório!
          </small>
        </div>
        <div class="form-group">
          <label for="requisitos"> Requisitos <em>*</em> </label>
          <textarea class="form-control" id="requisitos" rows="3" formControlName="requisitos"></textarea>
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.requisitos.touched &&
              formCadastro.controls.requisitos.invalid
            " [@fadeInOut]>
            O campo Requisitos é obrigatório!
          </small>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="possuiAuxilio" formControlName="possuiAuxilio" />
          <label class="form-check-label" for="possuiAuxilio">Possui auxilio?</label>
        </div>

        <div class="row duplo">
          <div class="col">
            <label for="dataInicioTrabalho">
              Data de início da Atividade <em>*</em>
            </label>
            <input class="form-control" placeholder="yyyy-mm-dd" type="date" id="dataInicioTrabalho"
              formControlName="dataInicioTrabalho" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
                formCadastro.controls.dataInicioTrabalho.touched &&
                formCadastro.controls.dataInicioTrabalho.invalid
              " [@fadeInOut]>
              O campo Data de início da Atividade é obrigatório!
            </small>
          </div>
          <div class="col">
            <label for="dataTerminoTrabalho">
              Data de encerramento da Atividade <em>*</em>
            </label>
            <input class="form-control" placeholder="yyyy-mm-dd" type="date" id="dataTerminoTrabalho"
              formControlName="dataTerminoTrabalho" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
                formCadastro.controls.dataTerminoTrabalho.touched &&
                formCadastro.controls.dataTerminoTrabalho.invalid
              " [@fadeInOut]>
              O campo Data de encerramento da Atividade é obrigatório!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="quantidadeVagas">Quantidade de vagas<em>*</em> </label>
          <input class="form-control" placeholder="Quantidade" type="number" id="quantidadeVagas"
            formControlName="quantidadeVagas" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
            formCadastro.controls.quantidadeVagas.touched &&
            formCadastro.controls.quantidadeVagas.invalid
          " [@fadeInOut]>
          O campo Quantidade de vagas é obrigatório!
        </small>

        </div>

        <div class="row duplo">
          <div class="col">
            <label for="horarioInicio"> Horário de inicio <em>*</em> </label>
            <input class="form-control" placeholder="yyyy-mm-dd" type="date" id="horarioInicio"
              formControlName="horarioInicio" />
            <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
                formCadastro.controls.horarioInicio.touched &&
                formCadastro.controls.horarioInicio.invalid
              " [@fadeInOut]>
              O campo Horário de início é obrigatório!
            </small>
          </div>
          <div class="col">
            <label for="horarioEncerramento">
              Horário de encerramento <em>*</em>
            </label>
            <input class="form-control" placeholder="yyyy-mm-dd" type="date" id="horarioEncerramento"
              formControlName="horarioEncerramento" />
              <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.horarioEncerramento.touched &&
              formCadastro.controls.horarioEncerramento.invalid
            " [@fadeInOut]>
            O campo Horário de encerramento é obrigatório!
          </small>
          </div>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="utilizarEnderecoEntidade"
            formControlName="utilizarEnderecoEntidade" checked />
          <label class="form-check-label" for="utilizarEnderecoEntidade">Desejo usar o endereço cadastrado da
            Entidade</label>
        </div>
          
      

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="termosCondicao" formControlName="termosCondicao" />
          <label class="form-check-label" for="termosCondicao">Declaro que a vaga cadastrada está de acordo com os
            termos e
            condições do site</label>
        </div>

        <ngb-alert #alert type="warning">
          ATENÇÃO: A vaga passará por avaliação antes de ser habilitada para
          publicação
        </ngb-alert>

        <div class="form-group buttonForm">
          <button type="submit" class="btn mb-2 btn-success">Cadastrar</button>
          <button type="reset" class="btn mb-2 btn-warning">Limpar</button>
        </div>
      </form>
    </div>
  </section>
</section>