.pagination ::ng-deep {
    margin-left: auto;
    .page-item {
      &.active {
        .page-link {
          background-color: #fff;
          color: #439024;
        }
      }
  
      .page-link {
        background-color: #fff;
        color: #7d7d7d;
        border-color: #ebebec;
        font-size: 14px;
      }
    }
  }

.vagasDisponiveis{
    display: grid;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.card-img-top{
    width: 10rem;
}

.containerCard{
    //display: flex;
}

  .card{
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: inherit;

    button{
        border: none;
        background-color: #008000;
        color: #ffffff;
        border-radius: 1rem;
        padding: 0.5rem;

        &:hover{
            opacity: 0.5;
        }
    }

    div:nth-of-type(2){
        h4{
            text-align: initial;
        }

        p:nth-of-type(2){
            text-align: center;
            border-radius: 1rem;
        }
        div{
            display: flex;
            justify-content: space-between;
        button{
            border: none;
            background-color: #008000;
            color: #ffffff;
            border-radius: 1rem;
            padding: 0.5rem;

            &:hover{
                opacity: 0.5;
            }

            &:nth-of-type(2){
                background-color: #f5f04a !important;
                color: #000000 !important;
            }
        }
    }
    }
}

.card-footer{
    padding: 0 0.5rem 0 0.5rem;
}
