<section class="content">
  <div class="topo">
    <h1>Validar Entidades</h1>
  </div>


  <section class="row entidadesAprovacao">
    <div *ngIf="!entidadesAprovacao">
      <span> No momento não existe vagas cadastradas! </span>
    </div>
    <section>
      <div class="containerCard entidadesAprovacao">
        <ngb-alert #alert type="warning">
          Lembre-se de dar maior prioridade para as entidades que estão a mais tempo
          em espera!
        </ngb-alert>
        <div class="col-12 card-content-filtro">
          <div class="col-9 p-1">{{tamanhoPagina}} vaga(s) pendente(s) para validação</div>
          <div class="col-3 p-1">
            <ng-select
              [items]="listaOrdenacao"
              id="ngSelect"
              bindLabel="nome"
              bindValue="id"
              placeholder="Selecione"
              (ngModelChange)="ordenarLista()"
              (closeOnSelect)="(true)"
              [(ngModel)]="tipoOrdenacao"
            >
            </ng-select>
          </div>
        </div>

        <div
          class="card"
          *ngFor="let entidade of entidadesAprovacao; let i = index"
        >
          <div class="card-content col-12">           
            <div class="content-card-vaga col-11">
              <p><b>{{ entidade.nomeFantasia }}</b></p>
              <p><b>Razão Social:</b> {{entidade.razaoSocial }}</p>
              <p><b>Cidade:</b> {{ entidade.cidade }} / {{ entidade.estado }}</p>
            </div>
            <div class="col-1 content-card-icons">
              <div class="first-icon" (click)="redirecionarDetalhes(entidade)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  class="bi bi-arrow-right-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="row">
      <ngb-pagination
        class="pagination pull-right"
        [rotate]="true"
        [maxSize]="3"
        [directionLinks]="false"
        [collectionSize]="this.entidadesAprovacao.length"
        [pageSize]="itemsPerPage"
        [boundaryLinks]="true"
        [(page)]="paginaAtual"
        (pageChange)="mudancaPagina(paginaAtual)"
      >
      </ngb-pagination>
    </div>
  </section>
</section>
