<section class="content">
  <div class="topo">
    <h1>Adicionar Curso</h1>
  </div>

  <section class="contentDetails">
    <div class="cadastro">
      <div>
        <p>Instituição de Ensino: {{nome}}</p>
      </div>
      <form [formGroup]="formCadastro" #formDir="ngForm" class="formCadastro" (ngSubmit)="adicionarCurso()">
        <div class="form-group">
          <label for="grau">Grau Acadêmico: <em>*</em> </label>
          <ng-select [items]="graus" id="ngSelect" bindLabel="nome" bindValue="nome" placeholder="Selecione"
            formControlName="grau" (closeOnSelect)="(true)">
          </ng-select>
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
              formCadastro.controls.grau.touched &&
              formCadastro.controls.grau.invalid
            " [@fadeInOut]>
            O campo Grau Acadêmico é obrigatório!
          </small>
        </div>
        <div class="form-group">
          <label for="nomeCurso">Nome do Curso <em>*</em> </label>
          <input type="text" class="form-control" id="nomeCurso" placeholder="Nome do Curso"
            formControlName="nomeCurso" />
          <small id="emailHelp" class="form-text text-danger ng-star-inserted" *ngIf="
            formCadastro.controls.nomeCurso.touched &&
            formCadastro.controls.nomeCurso.invalid
          " [@fadeInOut]>
            O campo Nome do Curso é obrigatório!
          </small>
        </div>
        <div class="buttonsVagasCadastradas">
          <button type="submit" class="btn btn-success">Salvar</button>
          <button type="reset" class="btn btn-warning">Limpar </button>
        </div>
      </form>
      <div class="voltar">
        <button class="btn btn-primary" (click)="backClicked()">Voltar</button>
      </div>
    </div>
  </section>
</section>