.topo {
  flex-direction: column;
  align-items: center;
}

.cadastro {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
}

.form-group {
  padding-bottom: 1em;
}

.duplo {
  padding-bottom: 1em;
}

.cadastrar-ies {
  align-self: flex-end;
  padding-bottom: 1em;
}

.buttonsVagasCadastradas {
  display: flex;
  align-items: center;
  margin: 1rem;

  button:first-child {
    margin-right: 0.5rem;
  }
}

.voltar{
  display:flex;   
  justify-content: flex-end;
} 