<section class="modal-header">
    <h2 class="modal-title">Detalhes do Candidato</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </section>
  <section class="modal-body">
  
    <div class="row col-12">
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span>Nome</span>
            <p>{{perfilCadidato.nome}}</p>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span>Idade</span>
            <p>{{perfilCadidato.idade}}</p>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span>Nome social</span>
            <p>{{perfilCadidato.nomeSocial ? perfilCadidato.nomeSocial : 'Não possui'}}</p>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span>Genero</span>
            <p>{{perfilCadidato.identificacaoGenero}}</p>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span>Data de nascimento</span>
            <p>{{perfilCadidato.dataNascimento}}</p>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span>E-mail</span>
            <p>{{perfilCadidato.email}}</p>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span>Telefone</span>
            <p>{{perfilCadidato.telefone}}</p>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span>E-mail</span>
            <p>{{perfilCadidato.email}}</p>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span>Data de nascimento</span>
            <p>{{perfilCadidato.dataNascimento}}</p>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span>E-mail</span>
            <p>{{perfilCadidato.email}}</p>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span>E-mail</span>
            <p>{{perfilCadidato.email}}</p>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span>Telefone</span>
            <p>{{perfilCadidato.telefone}}</p>
        </div>
    </div>

  </section>
  <section class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Voltar</button>
  </section>