<section class="modal-header">
    <h2 class="modal-title">Detalhes do(a) Candidato(a)</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</section>
<section class="modal-body">

    <div *ngIf="perfilCandidato.nomeSocial" class="row col-12">
        <span class="title__data">Nome Social</span>
        <p>{{perfilCandidato.nomeSocial}}</p>
    </div>
    <div class="row col-12">
        <span class="title__data">Nome Completo</span>
        <p>{{perfilCandidato.nome}}</p>
    </div>

    <div class="row col-12">
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span class="title__data">Data de nascimento</span>
            <p>{{perfilCandidato.dataNascimento}}</p>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span class="title__data">Gênero</span>
            <p>{{perfilCandidato.identificacaoGenero}}</p>
        </div>
    </div>
    <div class="row col-12">
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span class="title__data">Telefone</span>
            <p>{{perfilCandidato.telefone}}</p>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span class="title__data">E-mail</span>
            <p>{{perfilCandidato.email}}</p>
        </div>
    </div>
    <div class="row col-12">
        <span class="title__data">Endereço</span>
        <p>{{perfilCandidato.logradouro}}, {{perfilCandidato.numero}} - {{perfilCandidato.bairro}} -
            {{perfilCandidato.cep}} - {{perfilCandidato.cidade}}/{{perfilCandidato.estado}}</p>
    </div>

    <div class="row col-12">
        <span class="title__data">Curso</span>
        <p>{{ perfilCandidato.curso}}</p>
    </div>
    <div class="row col-12">
        <span class="title__data">Grau</span>
        <p>{{ perfilCandidato.grau}}</p>
    </div>
    <div class="row col-12">
        <span class="title__data">Instituição</span>
        <p>{{ perfilCandidato.instituicao}}</p>
    </div>
    <div class="row col-12">
        <div class="col-xl-6 col-md-12 col-sm-12">
            <span class="title__data">Ano início</span>
            <p>{{ perfilCandidato.anoInicio}}</p>
        </div>

        <div class="col-xl-6 col-md-12 col-sm-12">
            <span class="title__data">Ano conclusão</span>
            <p>{{ perfilCandidato.anoConclusao}}</p>
        </div>
    </div>
    <div class="row col-12">
        <span class="title__data">Status</span>
        <p>{{ inscricao.status}}</p>
    </div>

    <div class="col-12">
        <br>
        <h2>Experiências Anteriores</h2>
        <ng-template #naoPossuiExperiencia>
            Não declarou experiências anteriores.
        </ng-template>
        <section *ngIf="perfilCandidato.experienciasAnteriores != null; else naoPossuiExperiencia">
            <span>{{ perfilCandidato.experienciasAnteriores}}</span>
        </section>
    </div>

    <div class="col-12">
        <br>
        <h2>Áreas de Interesse</h2>
        <ng-template #naoPossuiInteresses>
            Não declarou interesses.
        </ng-template>
        <section *ngIf="perfilCandidato.areasInteresse != null; else naoPossuiInteresses">
            <span>{{ perfilCandidato.areasInteresse}}</span>
        </section>
    </div>

    <!--Mudar botões que aparecem de acordo com o status da inscrição-->
    <div *ngIf="inscricao.status == 'Inscrito' "class="btn__group">
        <br>
        <button class="btn btn-success" (click)="aprovarCandidato()">
            Aprovar
        </button>
        <button class="btn btn-danger" (click)="reprovarCandidato()">
            Reprovar
        </button>
    </div>

</section>
<section class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Voltar</button>
</section>